#{extends 'main.html'/}
#{set title:'产品列表'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/cooperation.jpg" style="height: 300px; width: 100%;" alt=""
             title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">代理产品</a></li>
            <li><a href="#tabs-2">加盟细则</a></li>
        </ul>
        <div id="tabs-1">
            <div style="width: 100%;">
                <b>固力新材致力于国内高性能土木工程材料市场的拓展，积极寻求各地的合作伙伴。我们欢迎具备基本条件代理商、经销商加盟，请联系我司销售部。</b>
                <p></p>
                <h4 style="color: #104E8B;"><b>▍代理产品</b></h4>
                <div style="height:5px;"></div>
                <div style="margin-left:20px">
                    <h5 style="color: #1874CD;"><b>◆ 环氧基材料</b></h5>
                    <img src="../public/images/cooperations/0003.png" style="height: 500px; width: 30%;margin-right: 120px;margin-top: 0px;" class="right-align-image"/>
                    <div style="margin-left:50px;">
                        <div style="height:5px;"></div>
                        <div>1) ESA建筑结构胶</div>
                        <div>2) ESA-TJ碳纤维浸渍粘贴胶</div>
                        <div>3) ESA-TD碳纤维底胶</div>
                        <div>4) ESA-TZ找平胶</div>
                        <div>5) ESA-HY环氧灌浆料</div>
                        <div>6) ESA-SG结构灌注胶</div>
                        <div>7) ESA-G灌缝胶</div>
                        <div>8) ESA-F封口胶</div>
                        <div>9) ESA-FX裂缝封闭胶</div>
                        <div>10) ESA-Z植筋锚固胶</div>
                        <br>
                    </div>

                    <h5 style="color: #1874CD;"><b>◆ 高性能水泥基材料</b></h5>
                    <div style="height:5px;"></div>
                    <div style="margin-left:50px;">
                        <div>1) WZJ-I无收缩自流密实水泥基高强浇注料</div>
                        <div>2) WZJ-II无收缩自流密实水泥基高强浇注料</div>
                        <div>3) ZM无收缩自流密实混凝土外加剂</div>
                        <div>4) GJL-D高强度垫层砂浆（座浆料）</div>
                        <div>5) GJL-T高强度套筒灌浆料</div>
                    </div>
                    <br>
                    <h5 style="color: #1874CD;"><b>◆ 聚合物改性水泥基材料</b></h5>
                    <div style="margin-left:50px;">
                        <div style="height:5px;"></div>
                        <div>1) WJJ无机界面剂</div>
                        <div>2) HPPC-I高性能复合砂浆外加剂</div>
                        <div>3) HPPC-II高性能复合砂浆外加剂</div>
                    </div>
                    <br>
                </div>

                <h4 style="color: #104E8B;"><b>▍加盟湖南固力新材料的优势</b></h4>
                <div style="height:5px;"></div>
                <div style="margin-left:20px;">
                    <div>◆ 产品拥有自主知识产权，产品性能优异，有强大的规模化生产能力，产品符合节能环保的产业发展导向； </div>
                    <div style="height:2px;"></div>
                    <div>◆ 在销售产品的同时，也使自己获得一个宝贵的学习机会，公司每年都会聘请国内知名专家进行授课；</div>
                    <div style="height:2px;"></div>
                    <div>◆ 公司在售前进行技术讲解，专业技术人员在售中进行技术指导，售后有专人跟进，即时解决整个过程出现的技术问题；</div>
                    <div style="height:2px;"></div>
                    <div>◆ 公司产品不断改进，确保产品在行业中处于领先水平。</div>
                </div>

            </div>
        </div>
        <div id="tabs-2">
            <h4 style="color: #104E8B;"><b>▍加盟细则</b></h4>
            <div style="height:5px;"></div>
            <div style="margin-left:20px">
                <h5 style="color: #1874CD;"><b>◆ 对经销商要求</b></h5>
                <img src="../public/images/cooperations/001.png" style="height: 300px; width: 40%;" class="right-align-image"/>
                <div style="margin-left:20px;">
                    <div style="height:5px;"></div>
                    <b>申请成为代理商的基本条件</b>
                    <div style="height:5px;"></div>
                    <div>1、具有合法建材经营资格的公司（个人）</div>
                    <div>2、从事建材销售三年以上</div>
                    <div>3、有一定的经济实力</div>
                    <div> 4、在当地有固定的客户群</div>
                    <div> 5、有良好的社会关系和人脉资源</div>
                </div>
                <br>
                <h5 style="color: #1874CD;"><b>◆ 代理区域原则</b></h5>
                <div style="margin-left:20px;">
                    <div style="height:5px;"></div>
                    <div>1、公司在全国市级（地级市除外）以上城市设代理商，由代理商负责该区域的销售</div>
                    <div>2、公司根据代理商的经济实力、有效资源和地理位置的相连性结合实际情况可同时代理多个城市，或成为某个地区（省级）的总代理</div>
                </div>
                <br>
                <h5 style="color: #1874CD;"><b>◆ 代理商的权益</b></h5>
                <div style="margin-left:20px;">
                    <div style="height:5px;"></div>
                    <div>1、免费获得湖南固力新材料的专业知识与技能的培训</div>
                    <div> 2、享受最低经销商（代理商）产品价格</div>
                    <div>3、每年参加全国经销商年度会议和产品培训</div>
                    <div>4、优秀年度经销商将获得公司"市场推广基金"发出的丰厚奖金</div>
                    <div>5、公司提供资料与宣传画册</div>
                    <div>6、公司提供陈列样品</div>
                    <div> 7、公司提供投标样板</div>
                </div>
            </div>
        </div>

    </div>
</div>
