#{extends 'main.html'/}
#{set title:'应用实例'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">工业建筑类</a></li>
            <li><a href="#tabs-2">公路桥梁类</a></li>
            <li><a href="#tabs-3">民用及公共建筑类</a></li>
            <li><a href="#tabs-4">应用实例一览表</a></li>
        </ul>
        <div id="tabs-1">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gy/baling.png">
                            <img src="../public/images/application/gy/baling_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">巴陵石油化工有限责任公司合成橡胶事业部单体车间882装置枢架结构加固工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gy/xianggang.png">
                            <img src="../public/images/application/gy/xianggang_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">湖南湘钢紧固件有限公司酸洗球化退火车间旧厂房加固改造工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gy/liuyang.png">
                            <img src="../public/images/application/gy/liuyang_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">浏阳华檠燃气公司混气站加固工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gy/zhuzhou.png">
                            <img src="../public/images/application/gy/zhuzhou_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">株洲二水厂泵房加固改造工程</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-2">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gl/foshan.png">
                            <img src="../public/images/application/gl/foshan_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">广东佛山佛陈大桥钢-STC轻型组合桥面结构新建桥面工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gl/hechi.png">
                            <img src="../public/images/application/gl/hechi_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">广州河池大桥加固工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gl/cst.jpg">
                            <img src="../public/images/application/gl/cst_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">湖南郴州赤石特大桥钢-STC轻型组合混凝土箱梁加固工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/gl/beicheng.jpg">
                            <img src="../public/images/application/gl/beicheng_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">湖南长沙北辰三角洲人行天桥桥梁工程</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-3">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/my/jiqiao.png">
                            <img src="../public/images/application/my/jinqiao_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">湘潭金侨大厦加固改造工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/my/shennong.png">
                            <img src="../public/images/application/my/shennong_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">长沙神农大酒店装饰改造工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/my/songguiyuan.png">
                            <img src="../public/images/application/my/songguiyuan_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">中国银行松桂园支行综合楼加固工程</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/application/my/zhuzhou.png">
                            <img src="../public/images/application/my/zhuzhou_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">株洲市体育中心游泳馆地下室混凝土柱加固工程</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-4">
            <img src="../public/images/application/80.jpg" style="width: 80%;margin-left: 10%;"/>
            <img src="../public/images/application/81.jpg" style="width: 80%;margin-left: 10%;"/>
            <img src="../public/images/application/82.jpg" style="width: 80%;margin-left: 10%;"/>
        </div>
    </div>
</div>
