#{extends 'main.html'/}
#{set title:'湖南吉首矮寨特大悬索桥'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h6><b>湖南吉首矮寨特大悬索桥</b></h6>
        <p></p>
        <div><b>工程概况：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;矮寨特大悬索桥位于湖南湘西州吉首市矮寨镇，是吉首至茶洞高速公路的重点工程，距吉首市约20公里，横跨德夯大峡谷。桥型方案为钢桁加劲梁单跨悬索桥，全长1073.65m，悬索桥的主跨为1176m，创造了四项世界第一：首次采用塔梁完全分离结构、首次在悬索桥上使用大型岩锚吊索、首次采用碳纤维预应力索对岩锚底座进行锚固、矮寨大桥采用了桥隧相联的形式。
        </div>
        <p></p>
        <img src="../public/images/news/az/az3_副本.jpg" style="margin-bottom: 20px;margin-left: 100px;"/>&nbsp;
        <img src="../public/images/news/az/az4_副本.jpg" style="margin-bottom: 20px;margin-left: 130px;"/>
        <div><b>解决方案：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对岩锚灌浆采用的普通水泥浆因存在强度较低和耐久性不足等方面的问题，致使岩锚结构在使用过程中出现受力性能下降、工作寿命缩短等现象，该工程采用我司自主研发DSP高性能灌浆料，大幅降低胶凝材料的孔隙率，有效解决普通水泥浆用于地下岩锚灌浆所存在的问题。
        </div>
        <p></p>
        <img src="../public/images/news/az/az1.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>&nbsp;
        <img src="../public/images/news/az/AZ2.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>
        <hr/>
    </div>
</div>


<div class="container">
    <div style="font-size: 1.2em;"><b>相关产品</b></div>
    <div id="gallery-wrap">
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/az/DSP_小图.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">DSP 高性能灌浆料</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
