#{extends 'main.html'/}
#{set title:'湘潭步步高商业广场加固工程'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h6><b>湘潭步步高商业广场加固工程</b></h6>
        <p></p>
        <div><b>工程概况：</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该工程为湘潭步步高广场，4层框架结构（带一层地下室），位于湘潭市岚园路和建设南路交叉路口处，本工程建筑结构使用功能为百货商场。
            目前该建筑处于营业状态，业主拟将其扩建。该工程业主为湘潭市步步高商业连锁股份有限公司，原设计单位为湘潭市第二建筑设计院，由中南大学土木工程检测中心检测，本工程平面由二段近似矩形夹一个弧形而成，建筑面积约为21000m2。建筑高度约20m，基础形式为独立基础。
        </div>
        <p></p>
        <div><b>改造内容：</b></div>
        <div>原大楼主体结构上再扩建一层；标准层新增楼梯，及局部砌体承重墙改为框架承重；新老建筑结合处基础加固。</div>
        <p></p>
        <div><b>解决方案：</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◇ 框架梁采用<u><b>高性能水泥复合砂浆钢筋网加固法</b></u>进行加固</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◇ 柱加固采用<u><b>C40自流密实混凝土加大截面法</b></u>进行加固</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◇ 经设计院复核，模拟加层后的工况进行计算分析，得出该结构基础在加层后不能满足承载力要求的结论，故采用<u><b>C40自留密实混凝土</b></u>对其进行基础加固。</div>
        <p></p>
        <img src="../public/images/news/bbg/bbg1.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>&nbsp;
        <img src="../public/images/news/bbg/bbg2.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>
        <hr>
    </div>
</div>


<div class="container">
    <div style="font-size: 1.2em;"><b>相关产品</b></div>
    <div id="gallery-wrap">
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/bbg/HPPC.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">HPPC-I 钢筋网加固用高性能复合砂浆</div>
            </div>
        </div>
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/bbg/HPPC.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">HPPC-II 钢筋网加固用高性能复合砂浆</div>
            </div>
        </div>
        <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/bbg/ZM.jpg"/>
                </a>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">ZM 无收缩自流密实混凝土外加剂</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>