#{extends 'main.html'/}
#{set title:'公司新闻'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/news.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twenty columns left-content">
        <div class="blogpost-wrap">
            <div class="blog-title"><a href="single.html">我国首座超高性能混凝土桥梁在湘验收 有望突破普通混凝土工程极限</a></div>
            <div class="blog-meta">
                <ul>
                    <li class="blog-date">Date: <span>9 August, 2012</span></li>
                    <li class="blog-author">Author: <span>Ray Johnson</span></li>
                    <li class="blog-category">Category: <span>News</span></li>
                    <li class="blog-comment">Comments: <span>1</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="single.html"><img src="../public/images/blog_img1.jpg"/></a></div>
            <div class="blog-content">
                <div class="blog-text">
                    <p> 科学网讯（记者
                        成舸）9月5日，我国第一座采用活性粉末混凝土建成的桥梁在长沙通过湖南省住建厅组织的验收。包括3位中国工程院院士在内的专家组认为，该桥梁达到同类桥梁建造的国际先进水平，其积累的设计理论和施工技术具有极强的探索示范价值，为该新型混凝土材料在我国的工程应用奠定了基础。
                    </p>
                    <p>
                        该桥位于长沙市北辰三角洲，是一座跨街天桥，主跨36.8米，一跨过街，桥下车行道不设桥墩，重量较原普通混凝土方案减轻近1/3，承载和长期性能更是大幅提升。该桥由湖南明湘科技有限公司承建，湖南大学承担结构研发设计及技术支持，于今年1月8日建成并投入使用。这也是国际上首座采用全预制拼装工艺建成的超高性能混凝土车行箱梁桥。
                    </p>
                    <p><a href="single.html">Read More ...</a></p>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="blogpost-wrap">
            <div class="blog-title"><a href="single.html">Duis ullamcorper ipsum a erat</a></div>
            <div class="blog-meta">
                <ul>
                    <li class="blog-date">Date: <span>24 July, 2012</span></li>
                    <li class="blog-author">Author: <span>Mark Baker</span></li>
                    <li class="blog-category">Category: <span>Personal</span></li>
                    <li class="blog-comment">Comments: <span>5</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="single.html"><img src="../public/images/blog_img2.jpg"/></a></div>
            <div class="blog-content">
                <div class="blog-text">
                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec
                        in eros vel orci aliquam malesuada ut vitae quam. </p>
                    <p>Cras aliquam tortor sit amet orci tincidunt laoreet. Donec mattis leo eget eros rhoncus molestie.
                        Nulla eget eleifend felis. Nunc ac magna eros. Phasellus imperdiet dui id nulla ultricies
                        porttitor. Suspendisse volutpat risus turpis.</p>
                    <p><a href="single.html">Read More ...</a></p>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="blogpost-wrap">
            <div class="blog-title"><a href="single.html">Post without image</a></div>
            <div class="blog-meta">
                <ul>
                    <li class="blog-date">Date: <span>10 June, 2012</span></li>
                    <li class="blog-author">Author: <span>Thomas Smith</span></li>
                    <li class="blog-category">Category: <span>Disease</span></li>
                    <li class="blog-comment">Comments: <span>2</span></li>
                </ul>
            </div>
            <div class="blog-content">
                <div class="blog-text without-image">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae arcu sed elit aliquet
                        faucibus ut non libero. Praesent condimentum, lorem at faucibus egestas, ipsum arcu euismod
                        lacus, nec.</p>
                    <p>Phasellus venenatis mauris ultrices diam pretium imperdiet. Cras vulputate porta elit, in
                        ultrices risus pellentesque at. Donec tempus vulputate eros et ultricies. Pellentesque in diam
                        ante, molestie egestas ante.</p>
                    <p><a href="single.html">Read More ...</a></p>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="blogpost-wrap">
            <div class="blog-title"><a href="single.html">Donec convallis fermentum leo non</a></div>
            <div class="blog-meta">
                <ul>
                    <li class="blog-date">Date: <span>12 May, 2012</span></li>
                    <li class="blog-author">Author: <span>Bob Taylor</span></li>
                    <li class="blog-category">Category: <span>Symptoms</span></li>
                    <li class="blog-comment">Comments: <span>4</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="single.html"><img src="../public/images/blog_img3.jpg"/></a></div>
            <div class="blog-content">
                <div class="blog-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae arcu sed elit aliquet
                        faucibus ut non libero. Praesent condimentum, lorem at faucibus egestas, ipsum arcu euismod
                        lacus, nec.</p>
                    <p>Phasellus venenatis mauris ultrices diam pretium imperdiet. Cras vulputate porta elit, in
                        ultrices risus pellentesque at. Donec tempus vulputate eros et ultricies. Pellentesque in diam
                        ante, molestie egestas ante.</p>
                    <p><a href="single.html">Read More ...</a></p>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="blogpost-wrap">
            <div class="blog-title"><a href="single.html">Sed tincidunt accumsan elementum</a></div>
            <div class="blog-meta">
                <ul>
                    <li class="blog-date">Date: <span>1 May, 2012</span></li>
                    <li class="blog-author">Author: <span>Jimmy Smith</span></li>
                    <li class="blog-category">Category: <span>Hospital</span></li>
                    <li class="blog-comment">Comments: <span>2</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="single.html"><img src="../public/images/blog_img4.jpg"/></a></div>
            <div class="blog-content">
                <div class="blog-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae arcu sed elit aliquet
                        faucibus ut non libero. Praesent condimentum, lorem at faucibus egestas, ipsum arcu euismod
                        lacus, nec.</p>
                    <p>Phasellus venenatis mauris ultrices diam pretium imperdiet. Cras vulputate porta elit, in
                        ultrices risus pellentesque at. Donec tempus vulputate eros et ultricies. Pellentesque in diam
                        ante, molestie egestas ante.</p>
                    <p><a href="single.html">Read More ...</a></p>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="pagenavi">
            <span class="pages">&#8201;Page 1 of 2&#8201;</span>
            <span class="current">&#8201;1&#8201;</span>
            <a href="" title="2">&#8201;2&#8201;</a>
            <a href="">&raquo;</a>
        </div>
    </div>
    <div class="four columns right-content">
        <div class="sidebar-header">Categories</div>
        <ul id="blog-categories">
            <li><a href="">News</a></li>
            <li><a href="">Drugs</a></li>
            <li><a href="">Personal</a></li>
            <li><a href="">Research</a></li>
            <li><a href="">Tests</a></li>
            <li><a href="">Symptoms</a></li>
        </ul>
        <div class="sidebar-header">About Us</div>
        <div id="aboutus-sidebar">
            <p>Donec velit nisl, rhoncus a elementum ac, tempus vel felis. Vestibulum ac quam vel libero auctor vehicula
                eget ut mauris.</p>
            <p>Morbi ornare imperdiet interdum. Nullam pulvinar malesuada elementum. Morbi eu massa sed orci condimentum
                venenatis a vitae velit. Donec tincidunt justo ut lacus mollis convallis.</p>
        </div>
        <div class="sidebar-header">Archive</div>
        <ul id="archives">
            <li><a href="">August 2012</a></li>
            <li><a href="">July 2012</a></li>
            <li><a href="">June 2012</a></li>
            <li><a href="">May 2012</a></li>
            <li><a href="">April 2012</a></li>
        </ul>
        <div class="sidebar-header">Flickr Feed</div>
    </div>
</div>