#{extends 'main.html'/}
#{set title:'公司新闻'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/news.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twenty columns left-content">
    #{list items:newsDataList, as:'n'}
        <div class="blogpost-wrap">
            <div class="blog-title">
                <a href="@{News.show(n.id)}" style="font-size:25px;">${n.title}</a>
            </div>
            <div class="blog-meta" style="width: 800px;">
                <ul>
                    <li class="blog-date">日期: <span>#{time_tooltip_v3 time:n.createDate/}</span></li>
                    <li class="blog-author">来源: <span>${n.source}</span></li>
                    <li class="blog-category">类别: <span>${n.type.label()}</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="javascript:void(0);"><img src="@{News.image(n.id)}" style="width: 800px; height: 480px;"/></a></div>
            <div class="blog-content">
                <div class="blog-text" style="width: 90%;">
                    <pre style="white-space: pre-wrap; word-wrap: break-word;">${n.outline}</pre>
                    <p><a href="@{News.show(n.id)}">Read More ...</a></p>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    #{/list}

        <div class="pagenavi">
            <span class="pages">&#8201;Page 1 of 1&#8201;</span>
            <span class="current">&#8201;1&#8201;</span>
            <a href="">&raquo;</a>
        </div>
    </div>
    <div class="four columns right-content">
        <div class="sidebar-header">关于我们</div>
        <div id="aboutus-sidebar">
            <p>湖南固力工程新材料公司，通过ISO9001:2000认证。主营产品包括：结构植筋胶、灌缝胶、锚固胶、碳纤维浸渍胶，高强灌浆料、高早强自流密实外加剂，UHPC超高性能混凝土材料。</p>
        </div>
        <div class="sidebar-header">联系我们</div>
        <ul id="blog-post-sidebar">
            <li>公司总部<br/><span>中国湖南省长沙市金洲新区金园东路57号</span></li>
            <li>服务热线<br/><span>0731-87856699</span></li>
            <li>邮编<br/><span>410604</span></li>
        </ul>
    </div>
</div>