#{extends 'main.html'/}
#{set title:'湖南郴州赤石特大桥'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h6><b>湖南郴州赤石特大桥</b></h6>
        <p></p>
        <div><b>工程概况：</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;赤石大桥是湖南省汝城至郴州高速公路第十九合同段上的一座特大桥，位于宜章县赤石乡，桥位跨青头江河道。赤石特大桥是厦蓉高速公路湖南段的控制性工程。桥梁设计为4塔双索面预应力混凝土斜拉桥，主桥全长1470米，世界第一大跨径高墩多塔混凝土斜拉桥赤石特大桥。</div>
        <p></p>
        <div><b>解决方案：</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于6#塔郴州侧6R6#-20#节段箱梁顶板混凝土开裂，为解决该问题采用我司自主研发超高性能混凝土加强置换部分沥青混凝土铺装层的方法进行加固，以提高其刚度及耐久性。</div>
        <p></p>
        <img src="../public/images/news/cst/cst1.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>&nbsp;&nbsp;
        <img src="../public/images/news/cst/cst2.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>
        <hr/>
    </div>
</div>

<div class="container">
    <div style="font-size: 1.2em;"><b>相关产品</b></div>
    <div id="gallery-wrap">
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/cst/CGH-I.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">CGH-I 结构通用超高性能混凝土</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
