#{extends 'main.html'/}
#{set title:'湖南岳阳洞庭湖二桥'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h6><b>湖南岳阳洞庭湖二桥</b></h6>
        <p></p>
        <div><b>工程概况：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;洞庭湖大桥是杭瑞高速公路湖南省临湘至岳阳段的一座特大型桥梁，位于洞庭湖入长江交汇口处岳阳市七里山，大岳高速的重点控制性工程。岳阳洞庭湖大桥采用双向六车道高速公路标准设计，设计车速100km/h，全长2390.18m。主桥跨径1480m，是国内第一、世界第二的大跨径板桁结合型悬索桥。
        </div>
        <p></p>
        <div><b>解决方案：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;为解决桥面收缩、开裂、疲劳、薄层组合等一系列难题，通过采用超高性能轻型组合桥面设计，使用我司提供的专用于钢桥面的超高韧性混凝土（STC）材料，大幅降低原钢桥面的应力幅，提高钢桥面刚度，有效的保护钢桥面不受腐蚀，使桥面使用寿命与整桥同寿命周期。
        </div>
        <p></p>
        <img src="../public/images/news/dth/dth1.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>&nbsp;&nbsp;
        <img src="../public/images/news/dth/dth2.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>
        <hr>
    </div>
</div>


<div class="container">
    <div style="font-size: 1.2em;"><b>相关产品</b></div>
    <div id="gallery-wrap">
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/dth/GL-STC_小图.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">GL-STC 桥面系列—钢桥面专用超高韧性混凝土干混料</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
