#{extends 'main.html'/}
#{set title:'云南六库怒江二桥'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h6><b>云南六库怒江二桥</b></h6>
        <p></p>
        <div><b>工程概况：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本工程位于泸水县六库镇新城区，为跨越怒江而设的重要工程。六库怒江二桥为主跨 175m
            的独塔单索面混合梁斜拉桥，采用塔墩梁固结体系，跨径布置为81+175m，桥梁全长268m。边跨主梁为单箱五室的预应力混凝土箱梁，主跨主梁为单箱五室的箱型截面混合梁，钢-混结合段距塔中心线8.75m，梁高2.8m（桥梁中心线外轮廓）。
        </div>
        <p></p>
        <div><b>解决方案：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对采用普通混凝土灌注钢-混结合段存在的脱空、开裂、疲劳性能不足等问题，该工程采用我公司自主研发UHPC作为钢-混结合段灌注材料，有效提升钢-混结合段的受力性能和耐久性能，结合段采用有格室后承压板构造，格室内填充UHPC灌注料。
        </div>
        <p></p>
        <img src="../public/images/news/nj/yn1.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>&nbsp;
        <img src="../public/images/news/nj/yn2.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>
        <hr/>
    </div>
</div>

<div class="container">
    <div style="font-size: 1.2em;"><b>相关产品</b></div>
    <div id="gallery-wrap">
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/nj/WSJ-CG 1.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">WSJ-CG 无收缩超高性能混凝土（复杂钢混组合结构用）</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>