#{extends 'main.html'/}
#{set title:'经典案例'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div style="width:90%;">
        <div>
            <hr style="margin-bottom: 20px;">
            <a href="@{News.bbgPage()}" style="cursor: pointer;text-decoration:none;">
                <img src="../public/images/application/al/bbg.jpg" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h5><b>步步高商业广场加固工程</b></h5>
                <p></p>
                <div>
                    该工程业主为湘潭市步步高商业连锁股份有限公司，原设计单位为湘潭市第二建筑设计院，由中南大学土木工程检测中心检测，本工程平面由二段近似矩形夹一个弧形而成，建筑面积约为21000㎡。建筑高度约20m，基础形式为独立基础。
                </div>
            </a>
            <p></p>
            <a href="@{News.bbgPage()}" style="cursor: pointer;">MORE >></a>
            <hr style="margin-bottom: 20px;">
        </div>
        <div>
            <a href="@{News.xiangYaPage()}" style="cursor: pointer;text-decoration:none;">
                <img src="../public/images/application/al/zhongnan.jpg" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h5><b>中南大学湘雅医院新医疗大楼加固工程</b></h5>
                <p></p>
                <div>
                    中南大学湘雅医学院坐落在湖南省长沙市芙蓉路与湘雅路交汇处，新医疗大楼的结构类型为框架-剪力墙结构。该建筑为亚洲最大的医疗中心。
                </div>
            </a>
            <p></p>
            <a href="@{News.xiangYaPage()}" style="cursor: pointer;">MORE >></a>
            <hr style="margin-bottom: 20px;">
        </div>
        <div>
            <a href="@{News.cstPage()}" style="cursor: pointer;text-decoration:none;">
                <img src="../public/images/application/al/cst.jpg" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h5><b>湖南郴州赤石特大桥</b></h5>
                <p></p>
                <div>
                    赤石特大桥是厦蓉高速公路湖南段的控制性工程。桥梁设计为4塔双索面预应力混凝土斜拉桥，主桥全长1470米，世界第一大跨径高墩多塔混凝土斜拉桥赤石特大桥。
                </div>
            </a>
            <p></p>
            <a href="@{News.cstPage()}" style="cursor: pointer;">MORE >></a>
            <hr style="margin-bottom: 20px;">
        </div>
        <div>
            <a href="@{News.dthPage()}" style="cursor: pointer;text-decoration:none;">
                <img src="../public/images/application/al/dth.png" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h5><b>湖南岳阳洞庭湖大桥</b></h5>
                <p></p>
                <div>
                    岳阳洞庭湖大桥采用双向六车道高速公路标准设计，设计车速100km/h，全长2390.18m。主桥跨径1480m，是国内第一、世界第二的大跨径板桁结合型悬索桥。
                </div>
            </a>
            <p></p>
            <a href="@{News.dthPage()}" style="cursor: pointer;">MORE >></a>
            <hr style="margin-bottom: 20px;">
        </div>
        <div>
            <a href="@{News.azPage()}" style="cursor: pointer;text-decoration:none;">
                <img src="../public/images/application/al/az.jpg" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h5><b>湖南吉首矮寨特大悬索桥</b></h5>
                <p></p>
                <div>
                    矮寨特大悬索桥位于湖南湘西州吉首市矮寨镇，是吉首至茶洞高速公路的重点工程，桥型方案为钢桁加劲梁单跨悬索桥，全长1073.65m，悬索桥的主跨为1176m，创造了四项世界第一。
                </div>
            </a>
            <p></p>
            <a href="@{News.azPage()}" style="cursor: pointer;">MORE >></a>
            <hr style="margin-bottom: 20px;">
        </div>

        <div>
            <a href="@{News.njPage()}" style="cursor: pointer;text-decoration:none;">
                <img src="../public/images/application/al/yunnan.jpg" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h5><b>云南怒江六库二桥</b></h5>
                <p></p>
                <div>
                    云南六库怒江二桥为主跨 175m 的独塔单索面混合梁斜拉桥，采用塔墩梁固结体系，跨径布置为81+175m，桥梁全长268m。
                </div>
            </a>
            <p></p>
            <a href="@{News.njPage()}" style="cursor: pointer;">MORE >></a>
            <hr style="margin-bottom: 20px;">
        </div>
    </div>
</div>