#{extends 'main.html'/}
#{set title:'工程应用'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>


<div class="container-full">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">经典案例</a></li>
            <li><a href="#tabs-2">应用实例</a></li>
        </ul>
        <div id="tabs-1">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_blog1_full.jpg">
                            <img src="../public/images/home_blog_img1.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Etiam ultrices erat eu</div>
                        <div class="gallery-text">
                            <p>Aliquam congue viverra dictum. Proin dictum imperdiet velit mattis suscipit. Lorem ipsum
                                dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_blog2_full.jpg">
                            <img src="../public/images/home_blog_img2.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Vestibulum sed nunc</div>
                        <div class="gallery-text">
                            <p>Donec facilisis, mauris quis semper fringilla, purus lorem luctus massa, ac blandit neque
                                dui
                                vel lorem.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_blog3_full.jpg">
                            <img src="../public/images/home_blog_img3.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Consectetur adipiscing elit.</div>
                        <div class="gallery-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae arcu sed elit
                                aliquet
                                faucibus ut non libero.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_img1_full.jpg">
                            <img src="../public/images/gallery_img1.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">First Gallery Picture</div>
                        <div class="gallery-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae arcu sed elit
                                aliquet
                                faucibus ut non libero.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_img2_full.jpg">
                            <img src="../public/images/gallery_img2.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Second Gallery Picture</div>
                        <div class="gallery-text">
                            <p>Nunc molestie facilisis nisi, et sollicitudin tellus porta in. Etiam ultrices erat eu
                                nisl
                                dictum interdum.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_img5_full.jpg">
                            <img src="../public/images/gallery_img5.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Consectetur adipiscing elit.</div>
                        <div class="gallery-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae arcu sed elit
                                aliquet
                                faucibus ut non libero.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_img3_full.jpg">
                            <img src="../public/images/gallery_img3.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Third Gallery Picture</div>
                        <div class="gallery-text">
                            <p>Sed in tincidunt tortor. Pellentesque nec auctor tortor. Suspendisse potenti. In nisl
                                elit,
                                convallis at gravida quis, rutrum sed metus aenean ultrices. </p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_blog1_full.jpg">
                            <img src="../public/images/home_blog_img1.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Etiam ultrices erat eu</div>
                        <div class="gallery-text">
                            <p>Aliquam congue viverra dictum. Proin dictum imperdiet velit mattis suscipit. Lorem ipsum
                                dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <a href="../public/images/gallery_blog2_full.jpg">
                            <img src="../public/images/home_blog_img2.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">Vestibulum sed nunc</div>
                        <div class="gallery-text">
                            <p>Donec facilisis, mauris quis semper fringilla, purus lorem luctus massa, ac blandit neque
                                dui
                                vel lorem. Sed vehicula tincidunt orci, eget sodales.</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-2">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id
                nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie
                lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula
                suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur
                ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque
                convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare
                leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
    </div>
</div>