#{extends 'main.html'/}
#{set title:'公司新闻'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/news.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twenty columns left-content">
        <div class="blogpost-wrap">
            <div class="blog-title">
                <a href="single.html" style="font-size:25px;">长沙建成世界首座超高性能混凝土桥</a>
            </div>
            <div class="blog-meta" style="width: 800px;">
                <ul>
                    <li class="blog-date">日期: <span>9 August, 2012</span></li>
                    <li class="blog-author">来源: <span>Ray Johnson</span></li>
                    <li class="blog-category">类别: <span>行业新闻</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="single.html"><img src="../public/images/news/1.jpg" style="width: 800px; height: 480px;"/></a></div>
            <div class="blog-content">
                <div class="blog-text" style="width: 90%;">
                    <p> 长沙晚报讯(记者 陈焕明 通讯员 刘攀)昨日上午10时许，一座长70.8米、宽6.5米的跨街天桥在北辰三角洲横四路竣工。这座看似普通的天桥，是世界首座全预制拼装超高性能混凝土(一种活性纳米无机复合材料)桥梁。也就是说，不仅它的混凝土由具有超高强度和韧性的特殊材料制成，而且它是先在工厂预制，然后拖运至现场，在10小时内拼装
                        搭建而成的。中国工程院院士聂建国、陈政清及众多土木工程专家共同见证了这座天桥的诞生。长沙晚报讯(记者 陈焕明 通讯员
                        刘攀)昨日上午10时许，一座长70.8米、宽6.5米的跨街天桥在北辰三角洲横四路竣工。这座看似普通的天桥，是世界首座全预制拼装超高性能混凝土(一种活性纳米无机复合材料)桥梁。也就是说，不仅它的混凝土由具有超高强度和韧性的特殊材料制成，而且它是先在工厂预制，然后拖运至现场，在10小时内拼装
                        搭建而成的。中国工程院院士聂建国、陈政清及众多土木工程专家共同见证了这座天桥的诞生。 </p>
                    <p>
                        湖南大学提供的资料显示，活性粉末混凝土（RPC）是上世纪90年代由法国人最早研发的一种超高性能水泥基材料，其强度、耐久性、韧性分别可达普通混凝土的5倍、10倍、100倍以上，水泥用量却仅约为后者的二分之一，骨料用量则更低。目前，由于普通混凝土的比强度较低，混凝土桥梁的结构跨度和高层建筑的结构高度已近极限。RPC材料为突破上述限制提供了可能，一经出现便引起国际土木工程界的瞩目。
                        “通俗地说，RPC是全球最结实、最强韧的一种混凝土，在许多工业和民用领域应用前景广阔。”明湘科技董事长吴罗明告诉记者，该公司已掌握具有自主知识产权的RPC材料制备和优化技术，其生产的RPC构件现已用于长沙地铁等工程，并引起了国防、高铁、海洋工程等多个领域单位的密切关注。
                        据验收专家组成员、中国建筑科学研究院建筑材料研究所总工程师冷发光介绍，RPC作为当前土木工程材料领域的新研究热点，少数发达国家已有工程实例，国内虽也有数十家单位开展研发，但主要仍侧重于材料端，尚缺乏用这种新材料整体建造桥梁的应用先例。即使在零散的工程应用中，材料和结构也结合得不够好，使新材料的优越性难以充分体现，“长沙这座桥梁完全把上面的问题解决了。”
                        担任验收专家组组长的中国工程院院士、清华大学教授聂建国表示，该桥实现了新材料与新结构的有机结合，其成功修建为国内超高性能混凝土桥梁的推广应用提供了良好的工程示范，积累了极为宝贵的经验。其开创的产学研合作创新模式，尤其值得当前国内土木工程界借鉴。
                    </p>

                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>