#{extends 'main.html'/}
#{set title:'公司新闻'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/news.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twenty columns left-content">
        <div class="blogpost-wrap">
            <div class="blog-title">
                <a href="javascript:void(0);" style="font-size:25px;">${n.title}</a>
            </div>
            <div class="blog-meta" style="width: 800px;">
                <ul>
                    <li class="blog-date">日期: <span>9 August, 2012</span></li>
                    <li class="blog-author">来源: <span>${n.source}</span></li>
                    <li class="blog-category">类别: <span>${n.type.label()}</span></li>
                </ul>
            </div>
            <div class="blog-image"><a href="javascript:void(0);"><img src="@{News.image(n.id)}" style="width: 800px; height: 480px;"/></a></div>
            <div class="blog-content">
                <div class="blog-text" style="width: 90%;"><pre style="white-space: pre-wrap; word-wrap: break-word;">${n.content}</pre></div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>