#{extends 'main.html'/}
#{set title:'中南大学湘雅医学院加固工程'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/project.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h6><b>中南大学湘雅医学院加固工程</b></h6>
        <p></p>
        <div><b>工程概况：</b></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中南大学湘雅医学院坐落在湖南省长沙市芙蓉路与湘雅路交汇处，2006年开始动工，于2009年底竣工。
            结构类型为框架-剪力墙结构。该建筑为亚洲最大的医疗中心。由于该工程规模大、建筑平面复杂，设计变更造成的加固改造工程量较大，该工程梁板改造采用<u><b>粘帖碳纤维布加固法</b></u>进行加固。
        </div>
        <p></p>
        <div><b>解决方案：</b></div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;采用粘帖碳纤维布法对该结构因改变功能、施工质量缺陷而造成承载力不足的梁板结构进行加固。
        </div>
        <p></p>
        <img src="../public/images/news/xy/001.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>&nbsp;
        <img src="../public/images/news/xy/002.jpg" style="width: 48%;margin-bottom: 20px;margin-left: 0px;"/>
        <hr/>
    </div>
    <hr>
</div>


<div class="container">
    <div style="font-size: 1.2em;"><b>相关产品</b></div>
    <div id="gallery-wrap">
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/xy/TD.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">ESA-TD 碳纤维底胶</div>
            </div>
        </div>
        <div class="gallery-img-wrap" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/xy/TJ.jpg"/>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">ESA-TJ 碳纤维浸渍粘贴胶</div>
            </div>
        </div>
        <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
            <div class="gallery-image">
                <img src="../public/images/news/xy/TZ.jpg"/>
                </a>
            </div>
            <div class="gallery-text-wrap">
                <div class="gallery-text-title" style="font-size: 14px;">ESA-TZ 找平胶</div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>



