#{extends 'main.html'/}
#{set title:'联系我们'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/contract.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <div id="tabs-1">
            <img src="../public/images/cooperations/12424.png" height="410px;" width="100%;">
            <div id="gmaps" style="width:99%;height:400px;margin:0 0 0 0;"></div>
        </div>
    </div>
</div>