#{extends 'main.html' /}
#{set title:'湖南固力工程新材料---高性能水泥基材料，超高性能混凝土材料（UHPC），环氧基材料' /}

<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        <img src="../public/images/slider01.jpg" alt="" title="#htmlcaption3"/>
        <img src="../public/images/slider02.jpg" alt="" title="#htmlcaption2"/>
        <img src="../public/images/slider03.jpg" alt="" title="#htmlcaption1"/>
    </div>
</div>

<div class="container-full">
    <div class="five columns features fone" style="height: 260px;">
        <h2>环氧基材料</h2>
        <p>改性环氧胶粘剂具有粘结力强、强度高、耐腐蚀、硬化过程收缩小、可常温固化、较易改性满足不同使用要求、施工简便快捷、价格较低等优点，目前国内外结构加固工程中所用的结构胶主要为改性环氧胶粘剂。</p>
        <a href="javascript:void(0);">了解更多 &raquo;</a>
    </div>
    <div class="five columns features fone" style="height: 260px;">
        <h2>高性能水泥基材料</h2>
        <p>高性能水泥基材料的品种目前相当多，用于结构加固工程的主要是自密实水泥基材料（SCC）；此外公司拥有装配式建筑专用套筒灌浆料及座浆料产品，性能优越处于国内一流水平，是PC构件连接的不二选择。</p>
        <a href="javascript:void(0);">了解更多 &raquo;</a>
    </div>
    <div class="five columns features fone clearfix" style="height: 260px;">
        <h2>聚合物改性水泥基材料</h2>
        <p>聚合物改性水泥基材料以高强硅酸盐水泥为基体，以高性能聚合物为主要改性组分的水泥基复合材料，具有超强界面粘结、高强高韧、防腐防锈、抗裂抗渗等特点，是无机水泥基材料与有机高分子材料在土木工程材料领域的完美结合。</p>
        <a href="javascript:void(0);">了解更多 &raquo;</a>
    </div>
    <div class="five columns features fone clearfix" style="height: 260px;">
        <h2>超高性能混凝土材料</h2>
        <p>一种可以与金属铝相媲美的高强度、高韧性、高耐久性、水泥基复合材料，其性能（工作性、强度、韧性、耐久性）均高于高性能混凝土，能够解决国际性工程技术难题，具有很高的工程应用价值，是可持续发展的绿色建筑材料。</p>
        <a href="javascript:void(0);">了解更多 &raquo;</a>
    </div>
</div>
<div class="container">
    <br class="clear"/>
    <div class="divider-full"></div>
    <div id="from-blog-wrap">
        <div class="twenty columns" id="from-blog">
            <div id="from-blog-header">
                <div>工程应用</div>
                <div id="go-prev"></div>
                <div id="go-next"></div>
            </div>
            <ul id="blog-slider">
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog001.jpg"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">步步高商业广场</div>
                        <div class="slider-post-text">湖南湘潭</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog002.jpg"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">中南大学湘雅医院新医疗区</div>
                        <div class="slider-post-text">湖南长沙</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog003.jpg"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">赤石特大桥</div>
                        <div class="slider-post-text">湖南郴州</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog004.jpg"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">矮寨特大悬索桥</div>
                        <div class="slider-post-text">湖南吉首</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog005.jpg"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">六库二桥</div>
                        <div class="slider-post-text">云南怒江</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog006.jpg"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">北辰三角洲人行天桥</div>
                        <div class="slider-post-text">湖南长沙</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog007.png"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">洞庭湖二桥</div>
                        <div class="slider-post-text">湖南岳阳</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog008.png"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">佛陈大桥钢-STC轻型组合桥面</div>
                        <div class="slider-post-text">广东佛山</div>
                    </div>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <img src="../public/images/blog009.png"/>
                        <div class="main-blog-magnifier"></div>
                    </a>
                    <div class="blog-slider-text-wrap">
                        <div class="slider-post-title">神农大酒店装饰改造工程</div>
                        <div class="slider-post-text">湖南长沙</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider-after"></div>
    <div id="information-wrap">
        <div class="fourteen columns">
            <div class="information-header">
                <div>新闻资讯</div>
            </div>
            <div class="news-text-wrap">
                <div class="news-wrap">
                    <a href="javascript:void(0);">
                        <img src="../public/images/newsImg001.png"/>
                        <div class="news-title">湖南大学原创技术应用于千米级特大桥梁 可实现桥面"终身无需大修"</div>
                    </a>
                    <ul class="news-after-title">
                        <li id="news-author">湖南大学</li>
                        <li id="news-date">2017-11-16</li>
                    </ul>
                    <div class="news-text">岳阳洞庭湖二桥超高韧性混凝土完成最后一段浇筑，至此，大桥6.5万平米的STC铺筑施工全部完成。STC轻型组合桥面是湖南大学土木工程学院黄政宇教授、邵旭东教授组成的高性能桥梁研究团队研发的原创技术，系首次应用在千米级特大跨径钢桁梁悬索桥上，STC桥面可实现终身无需大修的超长寿命。</div>
                    <div class="clear"></div>
                </div>
                <hr>
                <div class="news-wrap">
                    <a href="javascript:void(0);">
                        <img src="../public/images/newsImg002.png"/>
                        <div class="news-title">超高性能混凝土研发与应用再获重大进展　活性粉末混凝土获批行业标准</div>
                    </a>
                    <ul class="news-after-title">
                        <li id="news-author">湖南省科技厅</li>
                        <li id="news-date">2017-12-01</li>
                    </ul>
                    <div class="news-text">由湖南大学主编的《湖南省活性粉末混凝土结构技术规程》通过湖南省住建厅组织的专家审定，正式被批准为湖南省工程建设地方标准。该项标准获批，意味着我国活性粉末超高性能混凝土（RPC）材料研发与应用再获重大进展。
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="six columns findus-wrap">
            <div class="information-header">
                <div>公司地址</div>
            </div>
            <div class="location-wrap">
                <ul id="find-list">
                    <li>
                        <p id="clinic-name">公司总部</p>
                        <p id="clinic-address">中国湖南省长沙市金洲新区金园东路57号</p>
                    </li>
                    <li>
                        <p id="clinic-name">联系电话</p>
                        <p id="clinic-address">0731-87856699</p>
                    </li>
                </ul>
            </div>
            <div id="gmaps"></div>
        </div>
        <br class="clear"/>
        <div class="divider-full"></div>

    </div>
</div>