#{extends 'main.html'/}
#{set title:'联系我们'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/contract.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twenty columns left-content page content-fullwidth">
        <h6>▍招聘岗位</h6>
        <table class="table table-full-width responsive">
            <tr>
                <th style="font-size: 16px;">职位名称</th>
                <th style="font-size: 16px;">学历要求</th>
                <th style="font-size: 16px;">招聘人数</th>
                <th style="font-size: 16px;">工作地点</th>
                <th style="font-size: 16px;">发布时间</th>
            </tr>
            <tr>
                <td>销售代表</td>
                <td>大专以上</td>
                <td>5人</td>
                <td>湖南长沙</td>
                <td>2018年8月20日</td>
            </tr>
        </table>
    </div>
</div>
