#{extends 'main.html'/}
#{set title:'产品列表'/}
<style>
    a:hover {
        color: #4A80DB;
    }
</style>

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/product.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">环氧基材料</a></li>
            <li><a href="#tabs-2">高性能水泥基材料</a></li>
            <li><a href="#tabs-3">聚合物改性水泥基材料</a></li>
            <li><a href="#tabs-4">超高性能混凝土材料</a></li>
        </ul>
        <div id="tabs-1">
            <div id="gallery-wrap">
            #{list items:hyjList, as:'h'}
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="@{Products.image(h.id)}"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title"><a href="@{Products.show(h.id)}" style="cursor: pointer;text-decoration:none;color: #6D98F1;">${h.name}</a></div>
                        <div class="gallery-text">
                            <p>${h.subName}</p>
                        </div>
                    </div>
                </div>
            #{/list}



                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/news/xy/TJ.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-TJ碳纤维浸渍粘贴胶</div>
                        <div class="gallery-text">
                            <p>ESA-TJ 碳纤维浸渍粘贴胶(粘贴纤维复合材结构胶)系 A、B 两组分改性环氧树脂类 胶粘剂。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap ">
                    <div class="gallery-image">
                        <img src="../public/images/news/xy/TD.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-TD碳纤维底胶</div>
                        <div class="gallery-text">
                            <p>ESA-TD 系无溶剂、双组分改性环氧树脂低粘度胶粘剂。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <img src="../public/images/news/xy/TZ.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-TZ找平胶</div>
                        <div class="gallery-text">
                            <p>ESA-TZ 混凝土修补胶(结构加固找平胶)系 A、B 两组分腻子状改性环氧树脂类胶粘 剂。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/hyj/ESA-HY.JPG"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-HY环氧灌浆料</div>
                        <div class="gallery-text">
                            <p>环氧灌浆料系无溶剂、三组分改性环氧树脂砂浆，具有良好的流动性和极高的强度。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <img src="../public/images/product/hyj/esa002.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-SG结构灌注胶</div>
                        <div class="gallery-text">
                            <p>ESA-SG 结构灌注胶系纳米增韧改性环氧树脂类液态灌注胶。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/hyj/ESA-G.JPG"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-G灌缝胶</div>
                        <div class="gallery-text">
                            <p>ESA-G 灌缝胶 (混凝土裂缝修复胶)系 A、B 两组分改性环氧树脂类低粘度液状胶粘剂。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/hyj/ESG-F.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-F封口胶</div>
                        <div class="gallery-text">
                            <p>ESA-F 封口胶(封边胶)系 A、B 两组分腻子状改性环氧树脂类胶粘剂。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <img src="../public/images/product/hyj/ESA-FX.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-FX裂缝封闭胶</div>
                        <div class="gallery-text">
                            <p>ESA-FX 裂缝封闭胶系 A、B 两组分橡胶改性环氧树脂类胶粘剂，由多种有机及无机改 性材料复合而成。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/hyj/ESA-Z.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ESA-Z植筋锚固胶</div>
                        <div class="gallery-text">
                            <p>ESA-Z 植筋锚固胶系改性环氧类高强度、高耐腐蚀性双组分复合树脂胶泥。</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="tabs-2">
            <div id="gallery-wrap">
            #{list items:gxnsnList, as:'h'}
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="@{Products.image(h.id)}"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title"><a href="@{Products.show(h.id)}" style="cursor: pointer;text-decoration:none;color: #6D98F1;">${h.name}</a></div>
                        <div class="gallery-text">
                            <p>${h.subName}</p>
                        </div>
                    </div>
                </div>
            #{/list}



                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnsn/WZJ-I.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">WZJ-I无收缩自流密实水泥基高强浇注料</div>
                        <div class="gallery-text">
                            <p>WZJ-I 无收缩自流密实水泥基高强浇注料系一种无收缩、高强度、高自流密实性的水 泥基复合材料。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnsn/WZJ_II.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">WZJ-II无收缩自流密实水泥基高强浇注料</div>
                        <div class="gallery-text">
                            <p>WZJ-II 无收缩自流密实水泥基高强浇注料系一种无收缩、高强度、高自流密实性的水 泥基复合材料。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnsn/ZM_small.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">ZM无收缩自流密实混凝土外加剂</div>
                        <div class="gallery-text">
                            <p>ZM 无收缩自流密实混凝土外加剂是一种无收缩、高强度、免振捣水泥混凝土外加剂。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/replace.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">GJL-D高强度垫层砂浆（座浆料）</div>
                        <div class="gallery-text">
                            <p>GJL-D 高强度垫层砂浆系高强高性能水泥基浇注料。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/replace.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">GJL-T高强度套筒灌浆料</div>
                        <div class="gallery-text">
                            <p>GJL-T 高强度套筒灌浆料系高强高性能水泥基灌浆料。</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="tabs-3">
            <div id="gallery-wrap">
            #{list items:jhwgxsnList, as:'h'}
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="@{Products.image(h.id)}"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title"><a href="@{Products.show(h.id)}" style="cursor: pointer;text-decoration:none;color: #6D98F1;">${h.name}</a></div>
                        <div class="gallery-text">
                            <p>${h.subName}</p>
                        </div>
                    </div>
                </div>
            #{/list}


                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/jhw/WJJ.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">WJJ无机界面剂</div>
                        <div class="gallery-text">
                            <p>WJJ 无机界面剂是一种双组分、高性能聚合物改性水泥基材。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/jhw/HPPC_I.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">HPPC-I高性能复合砂浆外加剂</div>
                        <div class="gallery-text">
                            <p>HPPC-I 高性能复合砂浆外加剂是一种使用聚合物胶粉改性的水泥基复合材料。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <img src="../public/images/product/jhw/HPPC_II.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">HPPC-II高性能复合砂浆外加剂</div>
                        <div class="gallery-text">
                            <p>HPPC-II 高性能复合砂浆外加剂以粉剂形式掺入，是砂浆或混凝土减少或杜绝裂缝的 一种理想材料之一。</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div id="tabs-4">
            <div id="gallery-wrap">
            #{list items:cgxnhntList, as:'h'}
                <div class="gallery-img-wrap" ${(h_index+1)%4==0?'last-gallery-img':''}>
                    <div class="gallery-image">
                        <img src="@{Products.image(h.id)}"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title"><a href="@{Products.show(h.id)}" style="cursor: pointer;text-decoration:none;color: #6D98F1;">${h.name}</a></div>
                        <div class="gallery-text">
                            <p>${h.subName}</p>
                        </div>
                    </div>
                </div>
            #{/list}
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnhnt/GL-STC.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">GT-STC桥面系列—钢桥面专用超高韧性混凝土干混料</div>
                        <div class="gallery-text">
                            <p>GT-STC 桥面系列--钢桥面专用超高韧性混凝土系一种高强度、高韧性、工作性能优 良、耐久性优异的超高性能混凝土。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnhnt/WSJ-CG.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">WSJ-CG钢混组合结构专用--无收缩自密实超高性能混凝土干混料</div>
                        <div class="gallery-text">
                            <p>WSJ-CG 复杂钢混组合结构专用--无收缩自密实超高性能混凝土系一种无收缩、高强 度、高韧性、高自流密实性的超高性能混凝土。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnhnt/CGH-I.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">CGH-I结构通用超高性能混凝土干混料</div>
                        <div class="gallery-text">
                            <p>CGH-I 结构通用超高性能混凝土系一种高强度、高韧性、高自流密实性的超高性能混 凝土。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/replace.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">JF-K伸缩缝专用--早强自密实超高性能混凝土干混料</div>
                        <div class="gallery-text">
                            <p>JF-K 伸缩缝专用--早强自密实超高性能混凝土系一种早期强度高、高韧性、高自流密 实性的超高性能混凝土。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/replace.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">JF-P湿接缝专用--无收缩自密实超高性能混凝土干混料</div>
                        <div class="gallery-text">
                            <p>JF-P 湿接缝专用--无收缩自密实超高性能混凝土系一种无收缩、高强度、高韧性、高 自流密实性的超高性能混凝土。</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <img src="../public/images/product/gxnhnt/DSP.jpg"/>
                        <div class="magnifier-icon"></div>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title">DSP超高性能灌浆料</div>
                        <div class="gallery-text">
                            <p>DSP 超高性能灌浆料系一种由均布超细颗粒组成的高强度、自流密实性、低收缩、耐 久性好的超高性能灌浆料。</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>


    </div>
</div>
