#{extends 'main.html'/}
#{set title:'产品列表'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/service.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
		<div class="twelve columns left-content">
			<div id="gallery-wrap" class="gallery-with-sidebar">
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_blog1_full.jpg">
						<img src="images/home_blog_img1.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_blog2_full.jpg">
						<img src="images/home_blog_img2.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap last-gallery-img">
				<div class="gallery-image">
					<a href="images/gallery_blog3_full.jpg">
						<img src="images/home_blog_img3.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img1_full.jpg">
						<img src="images/gallery_img1.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img2_full.jpg">
						<img src="images/gallery_img2.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap last-gallery-img">
				<div class="gallery-image">
					<a href="images/gallery_img5_full.jpg">
						<img src="images/gallery_img5.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img3_full.jpg">
						<img src="images/gallery_img3.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_blog1_full.jpg">
						<img src="images/home_blog_img1.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap last-gallery-img">
				<div class="gallery-image">
					<a href="images/gallery_blog2_full.jpg">
						<img src="images/home_blog_img2.jpg" />
						<div class="magnifier-icon"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img4_full.jpg">
						<img src="images/gallery_img4.jpg" />
						<div class="magnifier-icon-sidebar"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img1_full.jpg">
						<img src="images/gallery_img1.jpg" />
						<div class="magnifier-icon-sidebar"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img5_full.jpg">
						<img src="images/gallery_img5.jpg" />
						<div class="magnifier-icon-sidebar"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img1_full.jpg">
						<img src="images/gallery_img1.jpg" />
						<div class="magnifier-icon-sidebar"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img2_full.jpg">
						<img src="images/gallery_img2.jpg" />
						<div class="magnifier-icon-sidebar"></div>
					</a>
				</div>
			</div>
			<div class="gallery-img-wrap">
				<div class="gallery-image">
					<a href="images/gallery_img3_full.jpg">
						<img src="images/gallery_img3.jpg" />
						<div class="magnifier-icon-sidebar"></div>
					</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
		<div class="four columns right-content">
			<div class="sidebar-header">About Us</div>
			<div id="aboutus-sidebar">
				<p>Donec velit nisl, rhoncus a elementum ac, tempus vel felis. Vestibulum ac quam vel libero auctor vehicula eget ut mauris.</p>
				<p>Morbi ornare imperdiet interdum. Nullam pulvinar malesuada elementum. Morbi eu massa sed orci condimentum venenatis a vitae velit. Donec tincidunt justo ut lacus mollis convallis.</p>
			</div>
			<div class="sidebar-header">Last Post in Blog</div>
			<ul id="blog-post-sidebar">
				<li><a href="single.html">Vestibulum ac quam vel</a><br /><span>by David Baker</span></li>
				<li><a href="single.html">Duis ullamcorper ipsum</a><br /><span>by John Smith</span></li>
				<li><a href="single.html">Post without image</a><br /><span>by Thomas Stark</span></li>
				<li><a href="single.html">Post without image</a><br /><span>by Thomas Stark</span></li>
			</ul>
			<div class="sidebar-header">Flickr Feed</div>
			<ul id="flickr-feed"></ul>
		</div>
		</div>