#{extends 'main.html'/}
#{set title:'产品列表'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/product.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div style="width:80%;">
        <div>
            <img src="../public/images/application/al/步步高商业广场加固工程小图.jpg" title="#htmlcaption3" class="left-align-image" style="margin-top: 0px;"/>
            <br/>
            <h5><b>步步高商业广场加固工程</b></h5>
            <p></p>
            <div>
                该工程业主为湘潭市步步高商业连锁股份有限公司，原设计单位为湘潭市第二建筑设计院，由中南大学土木工程检测中心检测，本工程平面由二段近似矩形夹一个弧形而成，建筑面积约为21000㎡。建筑高度约20m，基础形式为独立基础。
            </div>
            <p></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <div id="tabs-1">
            <div><b>产品特点</b></div>
        </div>
    </div>
</div>