#{extends 'main.html'/}
#{set title:'产品列表'/}

<style>
    a:hover {
        color: #4169E1;
    }
</style>

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/product.jpg" style="height: 300px; width: 100%;" alt="" title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">产品简介</a></li>
        </ul>

        <div id="tabs-1">
            <br>
            <div style="width:100%; height: 167px;">
                <img src="@{Products.image(product.id)}" title="${product.href}" class="left-align-image" style="margin-top: 0px;"/>
                <br/>
                <h4 style="color: #444444;"><b>${product.name}</b></h4>
                <div style="height: 5px;"></div>
                <div style="font-size: 14px;">产品描述：</div>
                <span style="line-height:25px; font-size: 14px;"><pre style="white-space: pre-wrap; word-wrap: break-word;">${product.description}</pre></span>
            </div>
            <div style="height: 20px;"></div>
            <hr>
            <div style="color: #4169E1; font-size: 16px;"><b>▍&nbsp;产品特点</b></div>
            <p></p>
            <div style="line-height:25px; font-size: 14px;">
                <pre>${product.feature}</pre>
            </div>
            <p></p>
            <hr>
            <div style="color: #4169E1; font-size: 16px;"><b>▍&nbsp;适用范围</b></div>
            <p></p>
            <span style="line-height:25px; font-size: 14px;"><pre style="white-space: pre-wrap; word-wrap: break-word;">${product.application}</pre></span>
            <p></p>
            <hr>
            <div style="color: #4169E1; font-size: 16px;"><b>▍&nbsp;相关资料下载</b></div>
            <p></p>
            <span style="line-height:25px; font-size: 14px;">
                <img src="../public/images/product/pdf.png">
                <a href="@{Products.downloadPDF(product.id)}" target="_blank" style="cursor: pointer;text-decoration:none;">${product.pdfName}</a>
            </span>
            <p></p>
            <hr>
        </div>
    </div>
</div>
