<footer>
    <div id="footer">
        <div id="prefooter-line"></div>
        <div class="container">
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">关于固力</div>
                <div id="tweet-feed">固力简介</div>
                <div id="tweet-feed">专家风采</div>
                <div id="tweet-feed">荣誉资质</div>
            </div>
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">新闻资讯</div>
                <div id="tweet-feed">公司新闻</div>
                <div id="tweet-feed">行业资讯</div>
            </div>
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">关于固力</div>
                <div id="tweet-feed">固力简介</div>
                <div id="tweet-feed">专家风采</div>
                <div id="tweet-feed">荣誉资质</div>
            </div>
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">产品与服务</div>
                <div id="tweet-feed">产品</div>
                <div id="tweet-feed">服务</div>
            </div>
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">工程应用</div>
                <div id="tweet-feed">经典案例</div>
                <div id="tweet-feed">应用实例</div>
            </div>
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">科技创新</div>
                <div id="tweet-feed">固力简介</div>
                <div id="tweet-feed">专家风采</div>
                <div id="tweet-feed">荣誉资质</div>
            </div>
            <div class="two columns" id="tweet-feed-wrap">
                <div id="twitter-feed-header">专利成果</div>
                <div id="tweet-feed">核心技术</div>
                <div id="tweet-feed">技术规范</div>
                <div id="tweet-feed">新材料专栏</div>
            </div>
            <div class="four columns" id="mail-subscribe-wrap">
                <div id="twitter-feed-header">联系我们</div>
                <div id="footer-contact">
                    <div id="footer-address">公司总部:<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国湖南省长沙市<br/>金洲新区金园东路57号</b></div>
                    <div id="footer-telephone">服务热线: <b>0731-87856699</b></div>
                </div>
            </div>

            <br class="clear"/>
            <div class="sixteen columns" id="copyright-info">
                <div>&copy; Copyright &copy; 2018.固力新材版权所有. 备案号:湘ICP备18009232号-1
                </div>
                
            </div>
        </div>
        <a href="#to-top" id="back-to-top"></a>
    </div>
</footer>