<header>
    <div id="header" class="main-header">
        <div class="container">
            <div class="two columns" id="logo-wrap">
                <a href="@{Application.index()}"><div id="logo"></div></a>
                <select id="header-mobile-menu">
                    <option value="index.html"/>
                    Home
                    <option value="blog.html"/>
                    Blog
                    <option value="blog.html"/>
                    --Right Sidebar
                    <option value="blog-left.html"/>
                    --Left Sidebar
                    <option value="blog-fullwidth.html"/>
                    --Without Sidebar
                    <option value="single.html"/>
                    --Single Post

                    <option value="gallery.html"/>
                    Gallery
                    <option value="gallery.html"/>
                    --With Text
                    <option value="gallery-sidebar.html"/>
                    --With Sidebar
                    <option value="gallery-without-text.html"/>
                    --Without Text

                    <option value="pages.html"/>
                    Pages
                    <option value="pages.html"/>
                    --With Right Sidebar
                    <option value="pages-left-sidebar.html"/>
                    --With Left Sidebar
                    <option value="pages-fullwidth.html"/>
                    --Without Sidebar
                    <option value="404.html"/>
                    --404

                    <option value="columns.html"/>
                    Shortcodes
                    <option value="columns.html"/>
                    --Columns
                    <option value="buttons.html"/>
                    --Buttons
                    <option value="tables.html"/>
                    --Tables
                    <option value="widget.html"/>
                    --Widget
                    <option value="messagebox.html"/>
                    --Message Box

                    <option value="contact.html"/>
                    Contact Us
                    <option value="contact.html"/>
                    --Contact Form
                    <option value="appointment.html"/>
                    --Online Appointment

                </select>
            </div>
            <div class="twenty-one columns">
                <nav>
                    <ul id="menu-header-menu" class="menu">
                        <li><a href="@{Application.index()}">首页</a></li>
                         <li><a href="blog.html">关于固力</a>
                            <ul class="sub-menu">
                                <li class="triangle"><img src="../public/images/triangle.png"/></li>
                                <li><a href="blog.html">固力简介</a></li>
                                <li><a href="blog-left.html">专家风采</a></li>
                                <li><a href="blog-fullwidth.html">荣誉资质</a></li>
                            </ul>
                        </li>
                        <li><a href="gallery.html">新闻资讯</a>
                            <ul class="sub-menu">
                                <li class="triangle"><img src="../public/images/triangle.png"/></li>
                                <li><a href="gallery.html">公司新闻</a></li>
                                <li><a href="gallery-sidebar.html">行业资讯</a></li>
                            </ul>
                        </li>
                        <li><a href="pages.html">产品与服务</a>
                            <ul class="sub-menu">
                                <li class="triangle"><img src="../public/images/triangle.png"/></li>
                                <li><a href="pages.html">产品</a></li>
                                <li><a href="pages-left-sidebar.html">服务</a></li>
                            </ul>
                        </li>
                        <li><a href="columns.html">工程应用</a>
                            <ul class="sub-menu">
                                <li class="triangle"><img src="../public/images/triangle.png"/></li>
                                <li><a href="columns.html">经典案例</a></li>
                                <li><a href="buttons.html">应用实例</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">科技创新</a>
                            <ul class="sub-menu">
                                <li class="triangle"><img src="../public/images/triangle.png"/></li>
                                <li><a href="contact.html">专利成果</a></li>
                                <li><a href="appointment.html">核心技术</a></li>
                                <li><a href="appointment.html">技术规范</a></li>
                                <li><a href="appointment.html">新材料专栏</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">联系我们</a>
                            <ul class="sub-menu">
                                <li class="triangle"><img src="../public/images/triangle.png"/></li>
                                <li><a href="contact.html">联系方式</a></li>
                                <li><a href="appointment.html">常见问题</a></li>
                                <li><a href="appointment.html">人才招聘</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">合作加盟</a></li>
                    </ul>
                </nav>
            </div>
            <br class="clear"/>
            <div class="four columns">
                <div id="telephone-wrap"><span id="header-telephone">+474-7457-3749</span><span id="header-email">example@mail.com</span>
                </div>
            </div>
            <div class="ten columns" id="intro-text">
                <div>Hello, this is <span class="blue-color">HEAL</span> - Premium ThemeForest Health Care Theme. After
                    purchase you may change this text on whatever you want.
                </div>
                <div id="intro-author">Raybreaker, Theme Author</div>
            </div>
        </div>
    </div>
</header>