<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>HEAL - Health Care HTML Template </title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- Google webfont include -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css' />
	<!-- BEGIN SCRIPT INCLUDE -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/"></script>
	<script type="text/javascript" src="js/general.js"></script>
	<script type="text/javascript" src="js/bxslider.js"></script>
	<script type="text/javascript" src="js/ztwitterfeed.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.js"></script>
	<script type="text/javascript" src="js/lightbox.js"></script>
	<script type="text/javascript" src="js/jqueryui.js"></script>
	<!-- END SCRIPT INCLUDE -->
	<!-- BEGIN STYLE INCLUDE -->
	<link rel="stylesheet" type="text/css" href="css/nivo-slider.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/lightbox.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
	<!-- END STYLE INCLUDE -->
	<link rel="shortcut icon" href="favicon.ico" />
	<!--[if IE 9]>
		<style type="text/css">
			.main-header .fourteen {
				height: 86px;
				background-color: rgba(0, 0, 0, 0.2);
			}
			#menu-header-menu {
				margin-top:15px;
				margin-right:40px;
			}
		</style>
	<![endif]-->
	
	<!--[if IE 8]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">
			.main-header .fourteen {
				height: 86px;
			}
			.main-header .fourteen, #caption-text-wrap .header, #caption-text-wrap .text {
				background: url(images/bg_for_ie.png);
			}
			#menu-header-menu {
				margin-top:15px;
				margin-right:40px;
			}
		</style>
	<![endif]-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=VB4Gu4Nx3keIMiIkpm69n91NiCsxo5nt"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body id="to-top">
	<!-- BEGIN HEADER -->

	<!-- END HEADER -->
	<!-- BEGIN MAIN CONTENT -->

	<!-- END MAIN CONTENT -->
	<!-- BEGIN FOOTER -->

	<!-- END FOOTER -->

</body>
</html>