<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <meta name="keywords" content="加固材料、垫层砂浆、套筒灌浆料、超高性能混凝土材料、UHPC、高性能复合砂浆外加剂、结构胶">
    <meta name="description" content="湖南固力工程新材料有限责任公司是一家为工程结构提供新型材料和加固解决方案的新型土木工程材料企业。产品范围包括加固材料、环氧基材料、高性能水泥基材料、超高性能混凝土材料、UHPC材料。">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/logo_title.png'}">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'/>
#{render '_js_header.html' /}
#{get 'moreScripts' /}

#{render '_css_header.html' /}
#{get 'moreStyles' /}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WG3wuOG5OeasH12ofmqqEsioMDntRHkv"></script>
</head>
<body id="to-top">
#{render 'header.html'/}
#{doLayout /}

 #{render 'footer.html'/}
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map('gmaps');
    // 创建地图实例
    var point = new BMap.Point(112.67439, 28.283203);
    // 创建点坐标
    map.centerAndZoom(point, 15);
    // 初始化地图， 设置中心点坐标和地图级别
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    map.enableScrollWheelZoom(true);
</script>
