<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta charset="${_response_encoding}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/logo_title.png'}">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Source+Sans+Pro:400,700' rel='stylesheet'
          type='text/css'/>
#{render '_js_header.html' /}
#{get 'moreScripts' /}

#{render '_css_header.html' /}
#{get 'moreStyles' /}
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=WG3wuOG5OeasH12ofmqqEsioMDntRHkv"></script>

</head>
<body id="to-top">
#{render 'header.html'/}
#{doLayout /}

 #{render 'footer.html'/}
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map('gmaps');
    // 创建地图实例
    var point = new BMap.Point(112.67439,28.283203);
    // 创建点坐标
    map.centerAndZoom(point, 15);
    // 初始化地图， 设置中心点坐标和地图级别
    var marker = new BMap.Marker(point);
    map.addOverlay(marker);
    map.enableScrollWheelZoom(true);

</script>
