#{extends 'main.html'/}
#{set title:'关于固力'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/about.jpg" style="height: 300px; width: 100%;" alt=""
             title="#htmlcaption3"/>
    </div>
</div>

<div class="container-full">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">固力简介</a></li>
            <li><a href="#tabs-2">专家风采</a></li>
            <li><a href="#tabs-3">荣誉资质</a></li>
        </ul>
        <div id="tabs-1">
            <div style="width: 100%;">
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南固力工程新材料有限责任公司（以下简称“湖南固力”）创始于2001年，是一家为工程结构提供新型材料和加固解决方案的新型土木工程材料企业，专注于建筑新材料的研发、生产和应用服务。公司主要经营范围包括：土木建筑结构加固、加层、托换改造材料技术开发和土木工程新材料的开发、生产、销售及技术服务。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南固力是湖南省新型工程材料专业中首家通过1S09001;
                    2000认证的企业。湖南固力的产品成功应用于中南大学湘雅医院、湖南国际会展中心、湖南黄花国际机场等省重点加固工程，以及长沙河西交通枢纽市政配套工程、天津海河大桥、佛山佛陈大桥、岳阳洞庭湖二桥等重点桥梁及结构工程。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司始终坚持走科技创新的发展道路，以湖南大学土木工程学院及湖南大学新型工程材料研究所等高校科研单位作为技术依托，同时建有“高性能土木工程材料研发实验中心”，充分利用先进的科研条件和最新科研成果，将科研技术优势与丰富的工程经验紧密结合，利用先进的技术成果解决复杂的工程问题，同时在土木工程维护改造、新型工程结构加固和疑难工程解决方案等工程领域开发了一系列特种工程材料及施工技术。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近年来，湖南固力积极转变发展方式，在建筑材料行业率先推动并开展第三代高技术新型混凝土材料——超高性能混凝土（UHPC）的研发与应用，能够解决新建结构与工程结构加固的国际性难题。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司基于“追求卓越品质，提供更优材料，建设美好生活”的企业使命，秉承“创新、优质、诚信、共赢”的核心价值观，以“成为高技术新型建筑材料行业的龙头企业”为愿景，专注于土木工程材料事业的发展，坚持“以客户为中心”，以一流的产品质量为基础，以研发中心先进的试验条件为依托，竭诚为社会各界提供高标准的服务，致力于实现“以高技术可持续发展的科技成果圆中国工程强国梦”的崇高理念。
                </div>
            </div>
        </div>
        <div id="tabs-2">
            <h4 style="color: blue;">a) 首席材料专家---黄政宇</h4>
        </div>
        <div id="tabs-3">
            <div>[1] 营业执照（1张）</div>
            <div>[2] 安全生产标准化证书</div>
            <div>[3] IS09001: 2000认证</div>
            <div>[4] 湖南省建设科技成果推广项目证书</div>
            <div>[5] 科技进步证书（1张）</div>
        </div>
    </div>
</div>