#{extends 'main.html'/}
#{set title:'关于固力'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/about.jpg" style="height: 300px; width: 100%;" alt=""
             title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">固力简介</a></li>
            <li><a href="#tabs-2">专家风采</a></li>
            <li><a href="#tabs-3">荣誉资质</a></li>
        </ul>
        <div id="tabs-1">
            <div style="width:100%;">
                <img src="../public/images/infos/123.png" style="height: 350px; width: 60%;" alt=""
                     title="#htmlcaption3" class="left-align-image"/>
                <br>
                <h4 style="color:#1874CD;"><b>湖南固力工程新材料有限责任公司</b></h4>
                <br>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南固力工程新材料有限责任公司（以下简称湖南固力），公司旗下品牌“兴固力”为湖南省品牌和著名商标。创始于2001年，是一家为工程结构提供新型材料和加固解决方案的新型土木工程材料企业，专注于建筑新材料的研发、生产和应用服务。公司主要经营范围包括：土木建筑结构加固、加层、托换改造材料技术开发和土木工程新材料的开发、生产、销售及技术服务。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南固力是湖南省新型工程材料专业中首家通过ISO9001:2000认证的企业。湖南固力的产品成功应用于中南大学湘雅医院、湖南国际会展中心、湖南黄花国际机场等省重点加固工程，以及长沙河西交通枢纽市政配套工程、天津海河大桥、佛山佛陈大桥、岳阳洞庭湖二桥等重点桥梁及结构工程。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司始终坚持走科技创新的发展道路，以湖南大学土木工程学院及湖南大学新型工程材料研究所等高校科研单位作为技术依托，同时建有“高性能土木工程材料研发实验中心”，充分利用先进的科研条件和最新科研成果，将科研技术优势与丰富的工程经验紧密结合，利用先进的技术成果解决复杂的工程问题，同时在土木工程维护改造、新型工程结构加固和疑难工程解决方案等工程领域开发了一系列特种工程材料及施工技术。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近年来，湖南固力积极转变发展方式，在建筑材料行业率先推动并开展第三代高技术新型混凝土材料——超高性能混凝土（UHPC）的研发与应用，能够解决新建结构与工程结构加固的国际性难题。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司基于“追求卓越品质，提供更优材料，建设美好生活”的企业使命，秉承“创新、优质、诚信、共赢”的核心价值观，以“成为高技术新型建筑材料行业的龙头企业”为愿景，专注于土木工程材料事业的发展，坚持“以客户为中心”，以一流的产品质量为基础，以研发中心先进的试验条件为依托，竭诚为社会各界提供高标准的服务，致力于实现“以高技术可持续发展的科技成果圆中国工程强国梦”的崇高理念。
                </div>
            </div>
        </div>
        <div id="tabs-2">
            <div style="width:100%;">
                <img src="../public/images/infos/huang.png" title="#htmlcaption3" style="height: 222px;width: 161px;"
                     class="left-align-image"/>
                <br/>
                <h4 style="color: #1874CD;"><b>首席材料专家---黄政宇</b></h4>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南大学土木工程学院教授，中国建筑学会建材理事会理事、中国土木工程学会混凝土质量委员会顾问、中国土木工程学会建设工程无损检测委员会副主任委员、中国土木工程学会高强高性能混凝土委员会委员，建设部、工信部高性能混凝土推广应用技术指导组成员。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长期从事高性能混凝土和超高性能混凝土（UHPC）的材料研究。先后主持和参加6项国家自然科学基金面上或重点项目、5项省部级科研项目和30余项横向科研项目。曾获国家科技进步二等奖1项,
                    部、省科技进步奖共10项。主持研发STC超高韧性混凝土材料应用在钢拱桥面组合结构中获得极大成功，与桥梁结构创新结合攻克了两个世界性难题。完成湖南洞庭湖大桥索塔等50多项重大工程的检测和咨询工作。
                </div>
                <p></p>
                <hr>
                <img src="../public/images/infos/dai.jpg" title="#htmlcaption3" style="height: 222px;width: 161px;"
                     class="left-align-image"/>
                <h4 style="color: #1874CD;"><b>资深技术顾问---戴炜</b></h4>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海同济大学无机非金属材料专业毕业，硕士研究生学历，现为湖南大学土木工程学院讲师，湖南省技术监督局、湖南省建筑工程质监总站特聘专家。拥有建设工程质量检测资质，从事结构维修及加固工程材料的产业化及桥梁隧道检测的工作20余年，自1999年至今为湖南省建设厅、湖南省建设教育协会、湖南省建筑工程质监总站进行建筑五大员、质监员及试验检测人员上岗培训教育工作。
                </div>
                <p></p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要研究方向为高性能混凝土、超高性能混凝土、水泥混凝土外加剂及工程质量检测。参与编写高校土木工程学科专业指导委员会规划推荐教材《土木工程材料》（湖南大学等四校合编，中国建筑工业出版社），参编规范《砌筑砂浆增塑剂》（JG/T164-2004），《房屋裂缝检测与处理技术规程》CECS
                    293:2011等。参与过多项国家自然科学基金、交通部和省级重点科研项目，并获省科技进步三等奖二项，在核心期刊及国内学术交流会议上发表论文数篇，作为发明人拥有5项发明专利、6项使用新型专利授权。
                </div>
                <hr>
                <h4 style="color: #36648B;"><b>合作专家团队</b></h4>
                <img src="../public/images/infos/shao.png" title="#htmlcaption3" style="height: 222px;width: 161px;"
                     class="left-align-image"/>
                <h5 style="color: #36648B;"><b>桥梁专家---邵旭东教授</b></h5>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南大学二级终身教授、博士生导师，现任湖南大学桥梁工程系主任、桥梁研究所所长，桥梁工程“国家重点学科”带头人。兼任湖南大学学术委员会委员、国家“985工程”创新团队负责人，中国公路学会桥梁与结构工程分会常务理事、茅以升桥梁基金会委员、国家自然科学基金项目评审专家、桥梁设计规范专家组成员、国际桥梁与结构工程协会(IABSE)会员。
                </div>
                <br>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要研究方向为大跨与新型桥梁结构，在攻克钢桥主要技术瓶颈、消除大跨径箱梁桥开裂顽症、研发桥梁结构新体系等方面做出了突出的贡献，是钢-STC轻型组合桥面结构发明者。已主持国家自然科学基金、教育部博士点基金、交通运输部重大科技专项等50余个项目的研究，参与新桥梁设计规范编写工作。获国家科技进步二等奖一项，省科技进步一等奖三项。
                </div>
                <hr>
                <img src="../public/images/infos/touxiang.png" title="#htmlcaption3" style="height: 222px;width: 161px;"
                     class="left-align-image"/>
                <h5 style="color: #36648B;"><b>结构专家---方志教授</b></h5>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南大学桥梁与结构工程二级教授、桥梁工程研究所副所长，中国土木工程学会桥梁与结构工程分会理事，中国建筑学会新材料和新结构委员会副主任委员，全国高等学校土木工程学科专业指导委员会委员，全国高等学校土木工程学科专业评估（认证）委员会委员，中国土木工程学会纤维增强塑料（FRP）及工程应用专业委员会委员。
                </div>
                <br>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要从事混凝土结构设计基本理论、高性能工程结构的设计与构造、大跨桥梁施工控制和既有桥梁加固与改造设计基本理论等方面的研究。主持科研项目40余项，其中国家自然科学基金项目5项；获国家授权发明专利3项；获部（省）科技进步奖5项。曾主持多座桥梁和房屋的结构设计以及安徽铜陵长江大桥、湖北巴东长江大桥、湖北荆岳长江公路大桥等特大型桥梁的施工控制。
                </div>
                <hr>
                <img src="../public/images/infos/touxiang.png" title="#htmlcaption3" style="height: 222px;width: 161px;"
                     class="left-align-image"/>
                <h5 style="color: #36648B;"><b>结构专家---卫军教授</b></h5>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中南大学土木工程学院教授、博士生导师，德国慕尼黑联邦国防军土木工程结构专业博士，中国土木工程学会高强混凝土及工程应用委员会委员、中国建筑学会结构计算理论与工程应用委员会委员、中国建筑学会混凝土结构委员会委员。
                </div>
                <br>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;主要从事混凝土结构耐久性及混凝土结构基本性能研究、混凝土结构服役性能研究、混凝土结构全寿命设计理论与方法研究、钢筋混凝土结构基本理论等方面的研究。曾获得教育部青年骨干教师资助、教育部重点项目基金、国家“863”计划、国家自然科学基金、铁道部重大专项、交通部西部科技计划等一系列基金的资助；共主持完成各类科研项目30余项；获得省级科技进步三等奖一项；国家授权发明专利9项。
                </div>

                <hr>
                <br/>
            </div>
        </div>
        <div id="tabs-3" style="height:750px;">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/infos/yyzz.jpg">
                            <img src="../public/images/infos/yyzz.jpg" style="height:300px;width:250px;"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text">
                            <p>营业执照</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap">
                    <div class="gallery-image">
                        <a href="../public/images/infos/anquan.jpg">
                            <img src="../public/images/infos/anquan.jpg" style="height:300px;width:250px;"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text">
                            <p>安全生产标准化证书</p>
                        </div>
                    </div>
                </div>

                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <a href="../public/images/infos/zhiliang.jpg">
                            <img src="../public/images/infos/zhiliang.jpg" style="height:300px;width:250px;"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text">
                            <p>质量管理体系证书</p>
                        </div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img">
                    <div class="gallery-image">
                        <a href="../public/images/infos/keji.jpg">
                            <img src="../public/images/infos/keji.jpg" style="height:300px;width:250px;"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text">
                            <p>科技进步证书</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>