#{extends 'main.html'/}
#{set title:'产品列表'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/science.jpg" style="height: 300px; width: 100%;" alt=""
             title="#htmlcaption3"/>
    </div>
</div>

<div class="container-full">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">专利成果</a></li>
            <li><a href="#tabs-2">核心技术</a></li>
            <li><a href="#tabs-3">技术规范</a></li>
            <li><a href="#tabs-4">新材料专栏</a></li>
        </ul>
        <div id="tabs-1">
            <div style="width: 100%;">
                <table class="table table-full-width responsive" style="width: 100%;">
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>专利号</th>
                        <th>专利类型</th>
                        <th>发明人</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>处理隧道施工初期支护变形过大的加固方法</td>
                        <td>CN201110119763.4</td>
                        <td>发明专利</td>
                        <td>蒋正华 ; 戴伟 ; 傅立新 ; 易震宇 ; 侯兴杰 ; 黄谋昭 ; 罗波 ; 符飞跃 ; 荆冰寅 ; 敬瑾 ; 刘经永 ;</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>隧道加固用承载结构</td>
                        <td>CN201110119751.1</td>
                        <td>发明专利</td>
                        <td>蒋正华 ; 戴伟 ; 傅立新 ; 易震宇 ; 侯兴杰 ; 黄谋昭 ; 罗波 ; 符飞跃 ; 荆冰寅 ; 敬瑾 ; 刘经永 ;</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>隧道加固用承载结构新型专利</td>
                        <td>CN201120146383.5</td>
                        <td>实用新型</td>
                        <td>蒋正华 ; 戴伟 ; 傅立新 ; 易震宇 ; 侯兴杰 ; 黄谋昭 ; 罗波 ; 符飞跃 ; 荆冰寅 ; 敬瑾 ; 刘经永 ;</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>一种用于钢筋混凝土结构植筋的装置</td>
                        <td>CN200420035536.9</td>
                        <td>实用新型</td>
                        <td>吴方伯 ; 黄政宇 ;</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>薄壁型水工构筑物的加固结构及加固方法</td>
                        <td>CN201310656856.X</td>
                        <td>发明专利</td>
                        <td>卜良桃 ; 朱怀 ; 黄政宇 ; 戴炜 ; 刘裔彬 ;</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>薄壁型水工构筑物的加固结构</td>
                        <td>CN201320800575.2</td>
                        <td>实用新型</td>
                        <td>卜良桃 ; 朱怀 ; 黄政宇 ; 戴炜 ; 刘裔彬 ;</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>高层混凝土边柱局部加固补强施工结构</td>
                        <td>CN201420520950.2</td>
                        <td>实用新型</td>
                        <td>卜良桃 ; 刘尚凯 ; 于丽 ; 黄政宇 ; 戴伟 ; 刘裔彬 ;</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>用于托换承重墙的施工结构</td>
                        <td>CN201420395980.5</td>
                        <td>实用新型</td>
                        <td>卜良桃 ; 黄政宇 ; 戴炜 ; 于丽 ; 段文锋 ; 刘裔彬 ;</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>建筑物墙体界面接缝处的防水处理结构及处理方法</td>
                        <td>CN201310654841.X</td>
                        <td>发明专利</td>
                        <td>卜良桃 ;  侯琦 ;  黄政宇 ;  戴炜 ;  于丽 ;  刘裔彬 ; </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>建筑物墙体界面接缝处的防水处理结构</td>
                        <td>CN201320798338.7</td>
                        <td>实用新型</td>
                        <td>卜良桃 ;  侯琦 ;  黄政宇 ;  戴炜 ;  于丽 ;  刘裔彬 ; </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>活性粉末纤维混凝土加固混凝土柱及加固方法</td>
                        <td>CN201310551677.X</td>
                        <td>发明专利</td>
                        <td>卜良桃 ;  朱健 ;  黄政宇 ;  戴炜 ;  于丽 ;  陶剑剑 ;  汪文渊 ;  刘裔彬 ; </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>活性粉末纤维混凝土加固混凝土柱</td>
                        <td>CN201320703698.4</td>
                        <td>实用新型</td>
                        <td>卜良桃 ;  朱健 ;  黄政宇 ;  戴炜 ;  于丽 ;  陶剑剑 ;  汪文渊 ;  刘裔彬 ; </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>超高性能混凝土表面与上面层之间的嵌石结构及施工方法</td>
                        <td>CN201710032448.5</td>
                        <td>发明专利</td>
                        <td>李嘉 ;  王万鹏 ;  邵旭东 ;  黄政宇 ; </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>可快速架设的全预制轻型组合桥梁结构 </td>
                        <td>CN201620196447.5</td>
                        <td>实用新型</td>
                        <td>邵旭东 ;  晏班夫 ;  黄政宇 ;  邓舒文 ;  吴罗明 ; </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>一种超高韧性混凝土及其制备方法 </td>
                        <td>CN201510026894.6</td>
                        <td>发明专利</td>
                        <td>黄政宇 ;  邵旭东 ;  肖礼经 ;  周志敏 ; </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>一种超高韧性混凝土板-钢梁轻型组合桥梁结构</td>
                        <td>CN201310749788.1</td>
                        <td>发明专利</td>
                        <td>邵旭东 ;  张哲 ;  黄政宇 ; </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>含抗剪构造的钢-超高性能混凝土组合桥面结构及其施工方法 </td>
                        <td>CN201210521668.1</td>
                        <td>发明专利</td>
                        <td>邵旭东 ;  曹君辉 ;  李嘉 ;  周环宇 ;  张哲 ;  黄政宇 ; </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>装配式纤维混凝土组合桥面结构及其施工方法 </td>
                        <td>CN201110384487.4</td>
                        <td>发明专利</td>
                        <td>邵旭东 ;  李嘉 ;  黄政宇 ;  辜杰凯 ;  王文前 ; </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>装配式纤维混凝土组合桥面结构</td>
                        <td>CN201120481170.8</td>
                        <td>实用新型</td>
                        <td>邵旭东 ;  李嘉 ;  黄政宇 ;  辜杰凯 ;  王文前 ; </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>预应力超高性能混凝土连续箱梁桥及其施工方法</td>
                        <td>CN201110345089.1</td>
                        <td>发明专利</td>
                        <td>邵旭东 ;  詹豪 ;  黄政宇 ; </td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>预应力超高性能混凝土连续箱梁桥</td>
                        <td>CN201120433088.8</td>
                        <td>实用新型</td>
                        <td>邵旭东 ;  詹豪 ;  黄政宇 ; </td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>钢超高性能混凝土组合桥面结构</td>
                        <td>CN201020242873.0</td>
                        <td>实用新型</td>
                        <td>邵旭东 ;  黄政宇 ;  李嘉 ; </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>一种高强高耐磨水泥基材料及其制备方法</td>
                        <td>CN201510109318.8</td>
                        <td>发明专利</td>
                        <td>吴罗明 ;  黄政宇 ; </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>一种水泥基纳米复合材料及其制备方法</td>
                        <td>CN201410791309.7</td>
                        <td>发明专利</td>
                        <td>吴罗明 ;  黄政宇 ; </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="tabs-2">
            <p></p>
            <h4 style="color: #104E8B;"><b>▍核心技术</b></h4>
            <p></p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;湖南固力首席材料专家从事超高性能混凝土 (UHPC)
            的研究开发经验超过25年，自公司成立以来，长期致力于UHPC新材料的开发和工程应用新领域的开拓；能根据工程特点研究开发具有独特性能的UHPC材料；现已开发适用于“钢-薄层超高韧性混凝土组合桥面新体系”的超高韧性混凝土
            (Super Toughness Concrete, STC)；适用于湿接缝和复杂钢混组合结构的常温养护条件下无收缩超高性能混凝土 (Non-shrinkage Ultra-High Performance
            Concrete，NSUHPC)；适用于快速施工的高早强超高性能混凝土；适用于大型工程结构的经济型超高性能混凝土等。
            <p></p>
            <p></p>
            <hr>
            <h5 style="color: #003399"><b>超高韧性混凝土—Super Toughness Concrete（STC）</b></h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对正交异性钢桥面板极易疲劳开裂（国外不到20年，国内不到10年）和钢桥面沥青铺装层频繁破损（寿命一般仅为5~8年）的两大世界性难题，成功研发了超高韧性混凝土（STC）。STC是以超高性能混凝土（UHPC）为基础进行研发的新材料，与结构措施配合后，抗裂强度提高了3~6倍，收缩应变降低了90%
            ，突破了采用常规UHPC抗裂强度低、收缩应变大的制约。使用该材料后可提高桥面局部抗弯刚度30倍以上，降低钢桥面疲劳应力30~80%
            ，根治了钢桥面频繁开裂且难以修复的顽疾，使得钢桥面沥青铺装昂贵、需频繁更换的现状不复存在，从源头上解决了传统钢桥面体系的两大世界性难题，为长寿命、低维护的轻型组合桥面提供了一种专用超高性能混凝土。
            <p></p>
            <hr>
            <h5 style="color: #003399"><b>无收缩超高性能混凝土—Non-shrinkage Ultra-High Performance Concrete（NSUHPC）</b></h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对混凝土湿接缝材料在新老混凝土界面易因收缩开裂，以及复杂钢混组合结构灌注材料不易灌注密实、力学性能不高以及钢-混凝土界面易收缩脱空等问题，成功研发了无收缩超高性能混凝土（NSUHPC）。NSUHPC是以超高性能混凝土（UHPC）为基础研发的新型UHPC材料，该材料能自密实，无需蒸汽养护，常温养护条件下无收缩，突破了常温养护UHPC收缩应变大的限制。采用该材料可提高湿接缝以及复杂钢混组合结构的灌注密实性、受力性能、耐久性和抗疲劳性，有效克服了湿接缝在新老混凝土界面易收缩开裂和钢混组合结构钢-混凝土界面易收缩脱空的问题；为湿接缝和钢混组合结构提供了一种长寿命、性能优异的灌注材料。
            <p></p>
            <hr>
            <h5 style="color: #003399"><b>高早强超高性能混凝土—High Early Strength Ultra-High Performance Concrete（HESUHPC）</b>
            </h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对桥梁伸缩缝在车辆反复作用和受自然环境侵蚀的情况下，普通混凝土易出现开裂渗水和破碎等病害，成功研发了早期强度高、极限强度高、韧性好、耐久性优异的高早强超高性能混凝土（HESUHPC）。HESUHPC是以超高性能混凝土（UHPC）为基础研发的新型UHPC材料，该材料能自密实，无需蒸汽养护，常温养护条件下低收缩，突破了常温养护UHPC收缩应变大的限制。采用该材料可提高桥梁伸缩缝等结构的灌注密实性、受力性能、耐久性和抗疲劳性，有效克服了桥梁伸缩缝混凝土由于反复承受车辆荷载以及自然环境侵蚀导致的破损问题；为桥梁伸缩缝提供了一种长寿命、性能优异的灌注材料。
        </div>
        <div id="tabs-3">
            <p></p>
            <div class="container">
                <div class="twelve columns left-content page content-fullwidth">

                    <b>湖南固力首席材料专家参编的国家规范与行业规范:</b>
                    <table class="table table-full-width responsive">
                        <tr>
                            <th>序号</th>
                            <th>行业标准</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="color: #303030;">国家标准</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>公路工程可靠性统一标准</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>混凝土强度检验评定标准</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>活性粉末混凝土</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>普通混凝土力学性能试验方法标准</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>普通混凝土拌合物试验方法标准</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="color: #303030;">工程标准化协会（CECS)标准</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>高性能纤维砂浆加固混凝土结构技术规程</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>建筑结构裂缝标准</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>高性能水泥符合砂浆钢筋网加固混凝土结构技术规程</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>房屋裂缝检测与处理技术规程</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>超声回弹综合法检测混凝土强度技术规程</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="color: #303030;">地方标准</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>活性粉末混凝土结构设计规程（湖南省）</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>钢-超高韧性混凝土轻型组合结构桥面技术规范</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tabs-4">
            <div class="container">
                <div class="twelve columns left-content page content-fullwidth">
                    <table class="table table-full-width responsive">
                        <tr>
                            <th width="60px;"></th>
                            <th>新材料专栏</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><a href="@{Sciences.uhpcPage()}" style="color: #27408B;">UHPC专栏</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>