#{extends 'main.html'/}
#{set title:'产品列表'/}

<div class="slider-wrapper theme-default">
    <div style="height: 300px;width: 100%;">
        <img src="../public/images/banner/science.jpg" style="height: 300px; width: 100%;" alt=""
             title="#htmlcaption3"/>
    </div>
</div>

<div class="container">
    <div class="twelve columns left-content page content-fullwidth">
        <h4><b>UHPC发展历程</b></h4>
        <p></p>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;超高性能混凝土，简称UHPC(Ultra-High Performance
            Concrete)，是一种创新性极高的水泥基工程材料，具有优异的耐久性和超高的力学性能。其中以DSP为胶凝材料的超高性能混凝土，最早起源于丹麦的阿尔堡水泥公司，后由法国的拉法基公司发展和改进成活性粉末混凝土RPC，并向全世界推广。
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UHPC的“超高力学性能”主要体现在超高抗拉强度（单轴抗拉和弯曲抗拉强度）和高韧性，这依靠加入短纤维来实现。早期使用直径0.15~0.4mm、长度6~12mm的平直光圆钢纤维，可将UHPC的抗拉强度提高到30MPa，断裂能达到20,000~40,000
            N/m（钢纤维体积含量2%~12%
            ，详见表1），使UHPC跨入韧性、高韧性材料的行列（断裂能超过1,000J/m2划分为韧性材料）。现在，使用异形，特别是扭转形高强钢纤维，可以进一步提高UHPC的抗拉强度、变形能力、韧性或断裂能。此外，高强高模的聚乙烯醇（PVA）纤维也用于UHPC的增强与增韧；聚乙烯（PP）纤维用于提高UHPC的耐火能力。
        </div>
        <p></p>
        <p></p>
        <h4><b>材料性能</b></h4>
        <p></p>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UHPC的“超高力学性能”主要体现在超高抗拉强度（单轴抗拉和弯曲抗拉强度）和高韧性，这依靠加入短纤维来实现。早期使用直径0.15~0.4mm、长度6~12mm的平直光圆钢纤维，可将UHPC的抗拉强度提高到30MPa，断裂能达到1,500~40,000
            N/m（钢纤维体积含量2%~12%
            ，详见表1），使UHPC跨入韧性、高韧性材料的行列（断裂能超过1,000J/m2划分为韧性材料）。现在，使用异形，特别是扭转形高强钢纤维，可以进一步提高UHPC的抗拉强度、变形能力、韧性或断裂能。此外，高强高模的聚乙烯醇（PVA）纤维也用于UHPC的增强与增韧；聚乙烯（PP）纤维用于提高UHPC的耐火能力。
        </div>
        <div style="text-align: center;"><b>表1：材料性能对比</b></div>

        <img src="../public/images/uhpc/001.jpg" class="right-align-image" style="width: 100%;margin: 0 0 0 0;"/>
        <div class="clear"></div>
        <p></p>
        <p></p>
        <p></p>
        <img src="../public/images/uhpc/002.png" class="right-align-image" style="width: 100%;margin: 0 0 0 0;"/>
        <div class="clear"></div>
        <p></p>
        <div style="text-align: center;"><b>图1  单轴拉伸和压缩UHPC的典型应力－应变特征与其它材料对比</b></div>

        <p></p>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UHPC的抗压与抗拉强度大幅度超越其它水泥基材料。在变形能力方面，UHPC可以在相对低的纤维含量水平实现拉伸“应变硬化”行为，即单轴受拉经历弹性阶段，出现多微裂缝，纤维抗拉作用启动；随后拉应力上升，进入非弹性的应变硬化阶段（类似钢材的“屈服”）；达到开裂后最大拉应力（抗拉强度），出现个别裂缝在局部扩展，之后拉应力下降，进入软化阶段。“应变硬化”是韧性材料的重要特征，体现短纤维增强增韧效果“质”的变化，目前只有ECC（高延性水泥基复合材料）和UHPC可以实现“应变硬化”。普通和高强纤维混凝土（FRC、HSFRC）开裂即软化，纤维强度未能有效发挥，故提高韧性的作用有限。
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;钢纤维增强增韧的UHPC，再与高强钢筋或钢绞线复合应用制作的梁（CRC或HRUHPC梁），抗弯承载能力接近钢梁的水平且抗弯行为相似（图2）。结合预应力技术，UHPC还有更大潜力用于建造大跨度或轻质高强、高韧的结构，至今已经发展出多种桥梁结构。
        </div>
        <img src="../public/images/uhpc/002.png" class="right-align-image" style="width: 100%;margin: 0 0 0 0;"/>
        <div class="clear"></div>
        <p></p>
        <div style="text-align: center;"><b>图2  UHPC梁、高强韧性钢梁与钢筋增强UHPC梁的抗弯性能对比</b></div>

        <p></p>
        <p></p>
        <h4><b>主要特点</b></h4>
        <p></p>
        <div style="color:#104E8B;">
            <b>超高性能混凝土（UHPC）结构的特点：结构自重较小、设计自由度大、韧性好、耐久性高，结构寿命长，符合可持续发展。</b>
        </div>
        <p></p>
        <p style="font-size: 18px;"><b>UHPC的耐久性与可持续发展</b></p>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UHPC具有非常好的微裂缝自愈能力。由于水胶比非常低，UHPC拌和水量仅能供部分水泥水化，绝大多数水泥颗粒的内部处于未水化的状态。因此，当水或水汽进入UHPC的裂缝时，暴露在裂缝表面未水化部分的水泥颗粒就会“继续”水化；结合了外界水分的水化产物体积大于水泥熟料体积，多出来的体积能够填堵裂缝。试验和工程验证表明，UHPC的裂缝自愈不仅能够封闭微裂缝降低渗透性和保持良好耐久性，同时还起“胶结”裂缝作用，可在一定程度上恢复混凝土因裂缝降低的力学性能。
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UHPC的耐久性能中，表面钢纤维的锈蚀一直令人关注。靠近结构表面的钢纤维保护层很小，还可能露出表面，在潮湿或腐蚀性环境中（氯盐、酸性等环境），表面钢纤维有较快发生锈蚀的可能性。目前10~15年的试验和实际工程观察表明，只要钢纤维不露出表面，UHPC密实的基体能够非常有效地保护钢纤维不锈蚀，露出表面钢纤维的锈蚀没有扩展到内部，仅限于表面，但会影响表面美观。因此，对于有装饰功能的UHPC结构，需要采取措施防止钢纤维暴露或使用不锈蚀纤维。
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;与钢结构相比，UHPC结构的优势在于高耐久性和几乎没有维护费用，并容易达到建筑防火要求。与传统的钢筋混凝土结构相比，UHPC结构寿命可成倍提高。根据理论分析、现有的暴露试验以及实际工程检验的结果，在腐蚀性自然环境中（如海洋环境）UHPC结构寿命可以超过200年；在非腐蚀环境UHPC结构寿命（如城市建筑）可以达到1000年。相对保守的日本指南认为，在正常使用环境条件下，UHPC结构的设计工作寿命为100年。耐久性中的碳化、钢纤维与钢筋锈蚀、冻融循环、硫酸盐侵蚀和碱-骨料反应属于免检项目，但重化学腐蚀和耐火性能是需要检验的项目。
        </div>

        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UHPC属于高效率使用胶凝材料或水泥的混凝土，同时也是最低碳的混凝土材料。通过具体工程结构的计算比较，可以量化分析UHPC的节材、节能和减排效果。定量分析表明：UHPC桥梁可节省材料体积24~50%
            ，节省材料重量35~60%；节能54%；减少直接排放CO2和全球变暖潜能GWP（当量CO2排放）分别达到59%和44%。
        </div>
        <p></p>
        <h4><b>应用前景</b></h4>
    </div>
</div>


<div class="container">
    <div class="tabs">
        <ul>
            <li><a href="#tabs-1">基础工程应用</a></li>
            <li><a href="#tabs-2">建筑工程应用</a></li>
            <li><a href="#tabs-3">其他土木工程应用</a></li>
            <li><a href="#tabs-4">桥梁工程应用</a></li>
        </ul>
        <div id="tabs-1">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/yylhnt.jpg">
                            <img src="../public/images/uhpc/yylhnt_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">预应力混凝土板桩</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/yxz.jpg">
                            <img src="../public/images/uhpc/yxz_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">预应力异形桩</div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/shiyan.jpg">
                            <img src="../public/images/uhpc/shiyan_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">桩的打入和承载力试验</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/zhuangpei.png">
                            <img src="../public/images/uhpc/zhuangpei_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">装配式房屋或结构的湿接缝</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-2">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/jz/dingpeng.jpg">
                            <img src="../public/images/uhpc/jz/dingpeng_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">车站顶棚</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/jz/zhuangshi.jpg">
                            <img src="../public/images/uhpc/jz/zhuangshi_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">建筑装饰品</div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/jz/taiyang.jpg">
                            <img src="../public/images/uhpc/jz/taiyang_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">轻型太阳板</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/jz/tiyu.png">
                            <img src="../public/images/uhpc/jz/tiyu_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">体育馆屋盖</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/jz/yangtai.png">
                            <img src="../public/images/uhpc/jz/yangtai_small.png"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">阳台热断桥构件</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/jz/uhpc.jpg">
                            <img src="../public/images/uhpc/jz/uhpc_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">UHPC楼梯</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-3">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/other/gaotie.jpg">
                            <img src="../public/images/uhpc/other/gaotie_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">高铁电缆槽</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/other/wumian.jpg">
                            <img src="../public/images/uhpc/other/wumian_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">轻型屋面</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="tabs-4">
            <div id="gallery-wrap">
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/ql/ql.jpg">
                            <img src="../public/images/uhpc/ql/ql_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">公路桥梁</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/ql/qlyz.jpg">
                            <img src="../public/images/uhpc/ql/qlyz_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">桥梁预制构件</div>
                    </div>
                </div>
                <div class="gallery-img-wrap last-gallery-img" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/ql/qxql.jpg">
                            <img src="../public/images/uhpc/ql/qxql_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">轻型桥梁</div>
                    </div>
                </div>
                <div class="gallery-img-wrap" style="height: 200px;">
                    <div class="gallery-image">
                        <a href="../public/images/uhpc/ql/rxtq.jpg">
                            <img src="../public/images/uhpc/ql/rxtq_small.jpg"/>
                            <div class="magnifier-icon"></div>
                        </a>
                    </div>
                    <div class="gallery-text-wrap">
                        <div class="gallery-text-title" style="font-size: 14px;">人行天桥</div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div>
